Section 5/5.5/DeleteFunctionFlows.json
[{"id":"60390d68.aa0df4","type":"ui_text_input","z":"14e6182e.27ae38","name":"","label":"Person ID","tooltip":"","group":"bbaeb9cc.4496a8","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":200,"y":2420,"wires":[["fc84c67a.bb3618"]]},{"id":"a1e676a5.c6fe88","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2460,"wires":[["fc84c67a.bb3618"]]},{"id":"fc84c67a.bb3618","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"},{"t":"set","p":"personId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2460,"wires":[["dc923d04.04b46"]]},{"id":"dc923d04.04b46","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person DELETE Delete","method":"DELETE","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}","tls":"","proxy":"","authType":"","x":710,"y":2460,"wires":[["e3698387.1b68"]],"info":"Delete an existing person from a person group. The persistedFaceId, userData, person name and face feature(s) in the person entry will all be deleted."},{"id":"e3698387.1b68","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"delete","p":"personId","pt":"global"},{"t":"delete","p":"data","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2460,"wires":[["6de08aa4.c87734","2bd00ea4.081632"]]},{"id":"6de08aa4.c87734","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":2460,"wires":[]},{"id":"2b5f834c.823adc","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"1a477ef.8bc9481","order":16,"width":"6","height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"fa-home","payload":"true","payloadType":"bool","topic":"","x":190,"y":2640,"wires":[["1d0bd2b8.4ce43d"]]},{"id":"1d0bd2b8.4ce43d","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2640,"wires":[["dc08b1d4.dded5"]]},{"id":"dc08b1d4.dded5","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Makerdemy Security System","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2640,"wires":[["18cc23b4.85749c"]]},{"id":"18cc23b4.85749c","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Makerdemy Security System ->","events":"change","x":690,"y":2640,"wires":[[]]},{"id":"22376fce.c5082","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Makerdemy Security System ->","events":"change","x":690,"y":2680,"wires":[[]]},{"id":"fc2c018d.b275","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Makerdemy Security System","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2680,"wires":[["22376fce.c5082"]]},{"id":"83d892bc.034f","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"1e4cc8b1.1e2597","order":3,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"fa-home","payload":"true","payloadType":"bool","topic":"","x":190,"y":2680,"wires":[["adacfda.2036e"]]},{"id":"14e946d7.26eb29","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"ac06182b.f6f948","order":2,"width":"0","height":"0","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":190,"y":2720,"wires":[["f2a672cb.3d34"]]},{"id":"f2a672cb.3d34","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2720,"wires":[["7d68430a.dd253c"]]},{"id":"adacfda.2036e","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2680,"wires":[["fc2c018d.b275"]]},{"id":"baf33685.64fc18","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"9d3ea572.857718","order":1,"width":"14","height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":190,"y":2760,"wires":[["1a382155.08c83f"]]},{"id":"1a382155.08c83f","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2760,"wires":[["e27d5885.89c108"]]},{"id":"e27d5885.89c108","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Admin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2760,"wires":[["3160309b.37bcd"]]},{"id":"7d68430a.dd253c","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Admin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2720,"wires":[["13cc33d.51f17cc"]]},{"id":"13cc33d.51f17cc","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Admin ->","events":"change","x":620,"y":2720,"wires":[[]]},{"id":"3160309b.37bcd","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Admin ->","events":"change","x":620,"y":2760,"wires":[[]]},{"id":"96bb1d22.656b4","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"fd6c1ba4.fc4208","order":1,"width":0,"height":0,"passthru":false,"label":"Reset all","tooltip":"","color":"","bgcolor":"","icon":"fa-trash","payload":"true","payloadType":"bool","topic":"reset","x":200,"y":2520,"wires":[["3b1aecd0.97eac4"]]},{"id":"8be624d7.b048f8","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2560,"wires":[["3b1aecd0.97eac4"]]},{"id":"ea2329ef.1219f8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup DELETE Delete","method":"DELETE","ret":"txt","paytoqs":false,"url":"https://nr-face.cognitiveservices.azure.com/face/v1.0/persongroups/{{{personGroupId}}}","tls":"","proxy":"","authType":"","x":690,"y":2560,"wires":[["f640a491.d5b9c8"]],"info":"Delete an existing person group with specified personGroupId. Persisted data in this person group will be deleted."},{"id":"b6d069ae.73d828","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":2560,"wires":[]},{"id":"3b1aecd0.97eac4","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2560,"wires":[["ea2329ef.1219f8"]]},{"id":"f640a491.d5b9c8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"delete","p":"personGroup","pt":"global"},{"t":"delete","p":"personId","pt":"global"},{"t":"delete","p":"data","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2560,"wires":[["b6d069ae.73d828","60f48206.9cd85c","20bf3d9a.476692"]]},{"id":"bbaeb9cc.4496a8","type":"ui_group","z":"","name":"Delete PersonGroup Person data","tab":"d97c9ba4.782648","order":3,"disp":true,"width":"14","collapse":false},{"id":"1a477ef.8bc9481","type":"ui_group","z":"","name":"Keypad","tab":"52655798.814f88","order":5,"disp":true,"width":"6","collapse":false},{"id":"1e4cc8b1.1e2597","type":"ui_group","z":"","name":"Group 1","tab":"13fbe677.e3c83a","order":1,"disp":false,"width":"14","collapse":false},{"id":"ac06182b.f6f948","type":"ui_group","z":"","name":"Group 5","tab":"c7f45ea6.01fad","order":5,"disp":false,"width":"14","collapse":false},{"id":"9d3ea572.857718","type":"ui_group","z":"","name":"Group 4","tab":"d97c9ba4.782648","order":5,"disp":false,"width":"14","collapse":false},{"id":"fd6c1ba4.fc4208","type":"ui_group","z":"","name":"Reset","tab":"d97c9ba4.782648","order":4,"disp":true,"width":"14","collapse":false},{"id":"d97c9ba4.782648","type":"ui_tab","z":"","name":"Manage Data","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"52655798.814f88","type":"ui_tab","z":"","name":"Button Panel","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"13fbe677.e3c83a","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"c7f45ea6.01fad","type":"ui_tab","z":"","name":"PersonGroup","icon":"dashboard","order":4,"disabled":false,"hidden":true}]