Section 5/5.5/FinalFlows.json
[{"id":"d8964a9.447bbb8","type":"subflow","name":"Notification","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"5ce148bb.793208"}]}],"out":[],"env":[]},{"id":"63eca6e.9732a58","type":"ui_toast","z":"d8964a9.447bbb8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"statusCode","x":530,"y":120,"wires":[]},{"id":"ccb8a7f0.3243a8","type":"change","z":"d8964a9.447bbb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"statusCode","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[["63eca6e.9732a58"]]},{"id":"cd32e60f.9cab08","type":"ui_toast","z":"d8964a9.447bbb8","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"payload.error.message","x":560,"y":80,"wires":[]},{"id":"5ce148bb.793208","type":"switch","z":"d8964a9.447bbb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.error.message","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["f9d57ad0.1363b8"],["ccb8a7f0.3243a8"]]},{"id":"f9d57ad0.1363b8","type":"change","z":"d8964a9.447bbb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.error.message","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["cd32e60f.9cab08"]]},{"id":"18b9e344.a8468d","type":"comment","z":"14e6182e.27ae38","name":"Face","info":"","x":270,"y":140,"wires":[]},{"id":"7d1ec6ad.8bae68","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":140,"wires":[["2308970e.81ce78"]]},{"id":"8e4061d8.40ad8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/octet-stream\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"returnFaceId","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"returnFaceLandmarks","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"returnFaceAttributes","pt":"msg","to":"age,gender,headPose,smile,facialHair,glasses,emotion,hair,makeup,occlusion,accessories,blur,exposure,noise","tot":"str"},{"t":"set","p":"recognitionModel","pt":"msg","to":"recognition_02","tot":"str"},{"t":"set","p":"returnRecognitionModel","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"detectionModel","pt":"msg","to":"detection_01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["64177f2f.2f2c3"]]},{"id":"64177f2f.2f2c3","type":"http request","z":"14e6182e.27ae38","name":"Face POST Detect","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId={{{returnFaceId}}}&returnFaceLandmarks={{{returnFaceLandmarks}}}&returnFaceAttributes={{{returnFaceAttributes}}}&recognitionModel={{{recognitionModel}}}&returnRecognitionModel={{{returnRecognitionModel}}}&detectionModel={{{detectionModel}}}","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":140,"wires":[["164aa1f9.2549be"]],"info":"Detect human faces in an image, return face rectangles, and optionally with faceIds, landmarks, and attributes.\r\n\r\n - No image will be stored. Only the extracted face feature(s) will be stored on server. The faceId is an identifier of the face feature and will be used in Face - Identify, Face - Verify, and Face - Find Similar. The stored face features will expire and be deleted 24 hours after the original detection call.\r\n - Optional parameters include faceId, landmarks, and attributes. Attributes include age, gender, headPose, smile, facialHair, glasses, emotion, hair, makeup, occlusion, accessories, blur, exposure and noise. Some of the results returned for specific attributes may not be highly accurate.\r\n - JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 6MB.\r\n - The minimum detectable face size is 36x36 pixels in an image no larger than 1920x1080 pixels. Images with dimensions higher than 1920x1080 pixels will need a proportionally larger minimum face size.\r\n - Up to 100 faces can be returned for an image. Faces are ranked by face rectangle size from large to small.\r\n - For optimal results when querying Face - Identify, Face - Verify, and Face - Find Similar ('returnFaceId' is true), please use faces that are: frontal, clear, and with a minimum size of 200x200 pixels (100 pixels between eyes).\r\n - Different 'detectionModel' values can be provided. To use and compare different detection models, please refer to How to specify a detection model\r\n    *'detection_01': The default detection model for Face - Detect. Recommend for near frontal face detection. For scenarios with exceptionally large angle (head-pose) faces, occluded faces or wrong image orientation, the faces in such cases may not be detected.\r\n    *'detection_02': Detection model released in 2019 May with improved accuracy especially on small, side and blurry faces. Face attributes and landmarks are disabled if you choose this detection model.\r\n - Different 'recognitionModel' values are provided. If follow-up operations like Verify, Identify, Find Similar are needed, please specify the recognition model with 'recognitionModel' parameter. The default value for 'recognitionModel' is 'recognition_01', if latest model needed, please explicitly specify the model you need in this parameter. Once specified, the detected faceIds will be associated with the specified recognition model. More details, please refer to How to specify a recognition model.\r\n    *'recognition_01': The default recognition model for Face - Detect. All those faceIds created before 2019 March are bonded with this recognition model.\r\n    *'recognition_02': Recognition model released in 2019 March. 'recognition_02' is recommended since its overall accuracy is improved compared with 'recognition_01'."},{"id":"164aa1f9.2549be","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":140,"wires":[]},{"id":"dfb4a75b.f2cc98","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":180,"wires":[["a59e66d9.1a6af8"]]},{"id":"a59e66d9.1a6af8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"faceIds\":[\"32203c6a-e95d-4f67-bbdc-d6944477e699\"],\"personGroupId\":\"makerdemy\",\"maxNumOfCandidatesReturned\":10,\"confidenceThreshold\":0.5}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["a3bd9bb3.8b1078"]]},{"id":"a3bd9bb3.8b1078","type":"http request","z":"14e6182e.27ae38","name":"Face POST Identify","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/identify","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":180,"wires":[["14573a25.d531a6"]],"info":"1-to-many identification to find the closest matches of the specific query person face from a person group or large person group.\r\n\r\nFor each face in the faceIds array, Face Identify will compute similarities between the query face and all the faces in the person group (given by personGroupId) or large person group (given by largePersonGroupId), and return candidate person(s) for that face ranked by similarity confidence. The person group/large person group should be trained to make it ready for identification. See more in PersonGroup - Train and LargePersonGroup - Train.\r\n\r\nRemarks:\r\n\r\n - The algorithm allows more than one face to be identified independently at the same request, but no more than 10 faces.\r\n - Each person in the person group/large person group could have more than one face, but no more than 248 faces.\r\n - Higher face image quality means better identification precision. Please consider high-quality faces: frontal, clear, and face size is 200x200 pixels (100 pixels between eyes) or bigger.\r\n - Number of candidates returned is restricted by maxNumOfCandidatesReturned and confidenceThreshold. If no person is identified, the returned candidates will be an empty array.\r\n - Try Face - Find Similar when you need to find similar faces from a face list/large face list instead of a person group/large person group.\r\n - The 'recognitionModel' associated with the query faces' faceIds should be the same as the 'recognitionModel' used by the target person group or large person group."},{"id":"14573a25.d531a6","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":180,"wires":[]},{"id":"6e9da7b3.801df8","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":240,"wires":[["4c8810ca.70078"]]},{"id":"ba32b782.35fc18","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup PUT Create","method":"PUT","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["9264f48e.04b888"]],"info":"Create a new person group with specified personGroupId, name, user-provided userData and recognitionModel.\r\nA person group is a container holding the uploaded person data, including face recognition features.\r\nAfter creation, use PersonGroup Person - Create to add persons into the group, and then call PersonGroup - Train to get this group ready for Face - Identify.\r\nNo image will be stored. Only the person's extracted face feature(s) and userData will be stored on server until PersonGroup Person - Delete or PersonGroup - Delete is called.\r\n\r\n'recognitionModel' should be specified to associate with this person group. The default value for 'recognitionModel' is 'recognition_01', if the latest model needed, please explicitly specify the model you need in this parameter. New faces that are added to an existing person group will use the recognition model that's already associated with the collection. Existing face feature(s) in a person group can't be updated to features extracted by another version of recognition model.\r\n\r\n * 'recognition_01': The default recognition model for PersonGroup - Create. All those person groups created before 2019 March are bonded with this recognition model.\r\n * 'recognition_02': Recognition model released in 2019 March. 'recognition_02' is recommended since its overall accuracy is improved compared with 'recognition_01'.\r\nPerson group quota:\r\n * Free-tier subscription quota: 1,000 person groups. Each holds up to 1,000 persons.\r\n * S0-tier subscription quota: 1,000,000 person groups. Each holds up to 10,000 persons.\r\n * to handle larger scale face identification problem, please consider using LargePersonGroup."},{"id":"9264f48e.04b888","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":240,"wires":[]},{"id":"4c8810ca.70078","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"Employees\",\"recognitionModel\":\"recognition_02\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["ba32b782.35fc18"]]},{"id":"edb90866.bd4d78","type":"comment","z":"14e6182e.27ae38","name":"PersonGroup","info":"","x":250,"y":240,"wires":[]},{"id":"fc4baeba.f981b","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":480,"wires":[["ff38ea89.709998"]]},{"id":"4cd278ba.f4dac8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup DELETE Delete","method":"DELETE","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":480,"wires":[["f75d268f.91f478"]],"info":"Delete an existing person group with specified personGroupId. Persisted data in this person group will be deleted."},{"id":"f75d268f.91f478","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":480,"wires":[]},{"id":"ff38ea89.709998","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["4cd278ba.f4dac8"]]},{"id":"179d5640.d99f0a","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":360,"wires":[["c0228d3.daed47"]]},{"id":"714b6d34.6c0034","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup GET Get","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}?returnRecognitionModel={{{returnRecognitionModel}}}","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":360,"wires":[["143a00e6.c3d72f"]],"info":"Retrieve person group name, userData and recognitionModel. To get person information under this personGroup, use PersonGroup Person - List."},{"id":"143a00e6.c3d72f","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":360,"wires":[]},{"id":"c0228d3.daed47","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"returnRecognitionModel","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["714b6d34.6c0034"]]},{"id":"177c541f.71640c","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":320,"wires":[["954c53af.4e778"]]},{"id":"f71521d8.df8c3","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup GET Get Training Status","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/training","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":320,"wires":[["b528b2aa.ce461"]],"info":"To check person group training status completed or still ongoing. PersonGroup Training is an asynchronous operation triggered by PersonGroup - Train API."},{"id":"b528b2aa.ce461","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":320,"wires":[]},{"id":"954c53af.4e778","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["f71521d8.df8c3"]]},{"id":"bf16a93f.2599a8","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":280,"wires":[["93b4bb7.e6bfd48"]]},{"id":"c70967da.e00728","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup POST Train","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/train","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":280,"wires":[["1545b8db.9f4e47"]],"info":"Submit a person group training task. Training is a crucial step that only a trained person group can be used by Face - Identify.\r\n\r\nThe training task is an asynchronous task. Training time depends on the number of person entries, and their faces in a person group. It could be several seconds to minutes. To check training status, please use PersonGroup - Get Training Status."},{"id":"1545b8db.9f4e47","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":280,"wires":[]},{"id":"93b4bb7.e6bfd48","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["c70967da.e00728"]]},{"id":"e85a37e8.613b38","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":440,"wires":[["31b9ae23.1991d2"]]},{"id":"e5458808.63c428","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup PATCH Update","method":"use","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":440,"wires":[["c5d99391.c67bf"]],"info":"Update an existing person group's name and userData. The properties keep unchanged if they are not in request body."},{"id":"c5d99391.c67bf","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":440,"wires":[]},{"id":"31b9ae23.1991d2","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"PATCH","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"\",\"userData\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":440,"wires":[["e5458808.63c428"]]},{"id":"a1299eaa.f288a","type":"comment","z":"14e6182e.27ae38","name":"PersonGroup Person","info":"","x":220,"y":540,"wires":[]},{"id":"6b410df8.37a924","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":580,"wires":[["8f69cef3.d3ed6"]]},{"id":"42912712.b11198","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person POST Add Face","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}/persistedFaces?detectionModel={{{detectionModel}}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":580,"wires":[["b449393b.7dc508"]],"info":"Add a face to a person into a person group for face identification or verification. To deal with an image containing multiple faces, input face can be specified as an image with a targetFace rectangle. It returns a persistedFaceId representing the added face. No image will be stored. Only the extracted face feature(s) will be stored on server until PersonGroup PersonFace - Delete, PersonGroup Person - Delete or PersonGroup - Delete is called.\r\nNote persistedFaceId is different from faceId generated by Face - Detect.\r\n\r\n * Higher face image quality means better recognition precision. Please consider high-quality faces: frontal, clear, and face size is 200x200 pixels (100 pixels between eyes) or bigger.\r\n * Each person entry can hold up to 248 faces.\r\n * JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 6MB.\r\n * \"targetFace\" rectangle should contain one face. Zero or multiple faces will be regarded as an error. If the provided \"targetFace\" rectangle is not returned from Face - Detect, there’s no guarantee to detect and add the face successfully.\r\n * Out of detectable face size (36x36 - 4096x4096 pixels), large head-pose, or large occlusions will cause failures.\r\n * Adding/deleting faces to/from a same person will be processed sequentially. Adding/deleting faces to/from different persons are processed in parallel.\r\n * The minimum detectable face size is 36x36 pixels in an image no larger than 1920x1080 pixels. Images with dimensions higher than 1920x1080 pixels will need a proportionally larger minimum face size.\r\n * Different 'detectionModel' values can be provided. To use and compare different detection models, please refer to How to specify a detection model\r\n     - 'detection_01': The default detection model for PersonGroup Person - Add Face. Recommend for near frontal face detection. For scenarios with exceptionally large angle (head-pose) faces, occluded faces or wrong image orientation, the faces in such cases may not be detected.\r\n     - 'detection_02': Detection model released in 2019 May with improved accuracy especially on small, side and blurry faces."},{"id":"b449393b.7dc508","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":580,"wires":[]},{"id":"8f69cef3.d3ed6","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"personId","pt":"msg","to":"71405b2a-a144-403e-8cc7-4b4efd2523f3","tot":"str"},{"t":"set","p":"detectionModel","pt":"msg","to":"detection_02","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"url\":\"https://www.dropbox.com/s/1uia857639j6cry/image2.jpg?raw=1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":580,"wires":[["42912712.b11198"]]},{"id":"c88621e7.85111","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":400,"wires":[["ce1c893.6a5df78"]]},{"id":"e535c94.6acd238","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup GET List","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups?start={{{start}}}&top={{{top}}}&returnRecognitionModel={{{returnRecognitionModel}}}","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":400,"wires":[["4b89291b.6ce4d8"]],"info":"List person groups’s personGroupId, name, userData and recognitionModel.\r\n\r\n * Person groups are stored in alphabetical order of personGroupId.\r\n * \"start\" parameter (string, optional) is a user-provided personGroupId value that returned entries have larger ids by string comparison. \"start\" set to empty to indicate return from the first item.\r\n * \"top\" parameter (int, optional) specifies the number of entries to return. A maximal of 1000 entries can be returned in one call. To fetch more, you can specify \"start\" with the last retuned entry’s Id of the current call.\r\nFor example, total 5 person groups: \"group1\", ..., \"group5\".\r\n\"start=&top=\" will return all 5 groups.\r\n\"start=&top=2\" will return \"group1\", \"group2\".\r\n\"start=group2&top=3\" will return \"group3\", \"group4\", \"group5\"."},{"id":"4b89291b.6ce4d8","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":400,"wires":[]},{"id":"ce1c893.6a5df78","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"start","pt":"msg","to":"","tot":"str"},{"t":"set","p":"top","pt":"msg","to":"1000","tot":"num"},{"t":"set","p":"returnRecognitionModel","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["e535c94.6acd238"]]},{"id":"52b75c2c.6c84c4","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":540,"wires":[["d37585c9.daa7e8"]]},{"id":"60d8f07d.bbbf","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person POST Create","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":540,"wires":[["577a60ca.d431"]],"info":"Create a new person in a specified person group. To add face to this person, please call PersonGroup PersonFace - Add.\r\n\r\n * Free-tier subscription quota:\r\n     - 1,000 persons in all person groups.\r\n * S0-tier subscription quota:\r\n     - 10,000 persons per person group.\r\n     - 1,000,000 person groups.\r\n     - 100,000,000 persons in all person groups."},{"id":"577a60ca.d431","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":540,"wires":[]},{"id":"d37585c9.daa7e8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"Lakshana\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":540,"wires":[["60d8f07d.bbbf"]]},{"id":"d50a40a2.36c4e","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":820,"wires":[["9b8d04b6.a132a8"]]},{"id":"88127f1d.53607","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person DELETE Delete","method":"DELETE","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":820,"wires":[["4881442b.ea292c"]],"info":"Delete an existing person from a person group. The persistedFaceId, userData, person name and face feature(s) in the person entry will all be deleted."},{"id":"4881442b.ea292c","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":820,"wires":[]},{"id":"9b8d04b6.a132a8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"personId","pt":"msg","to":"6b223f29-9ea6-4c1f-ba0b-b843f2d952fd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["88127f1d.53607"]]},{"id":"c9710c35.30d9","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":860,"wires":[["e31ccdaa.f09"]]},{"id":"ce11093a.0c40d8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person DELETE Delete Face","method":"DELETE","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}/persistedFaces/{{{persistedFaceId}}}","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":860,"wires":[["f86409fe.0fbad8"]],"info":"Delete a face from a person in a person group by specified personGroupId, personId and persistedFaceId.\r\nAdding/deleting faces to/from a same person will be processed sequentially. Adding/deleting faces to/from different persons are processed in parallel."},{"id":"f86409fe.0fbad8","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":860,"wires":[]},{"id":"e31ccdaa.f09","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"personId","pt":"msg","to":"6b223f29-9ea6-4c1f-ba0b-b843f2d952fd","tot":"str"},{"t":"set","p":"persistedFaceId","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["ce11093a.0c40d8"]]},{"id":"aa79fd62.57ef6","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":620,"wires":[["4862e785.45acb8"]]},{"id":"c2621d16.4bb06","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person GET Get","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":620,"wires":[["4847b841.709058"]],"info":"Retrieve a person's name and userData, and the persisted faceIds representing the registered person face feature(s)."},{"id":"4847b841.709058","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":620,"wires":[]},{"id":"4862e785.45acb8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"personId","pt":"msg","to":"6b223f29-9ea6-4c1f-ba0b-b843f2d952fd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":620,"wires":[["c2621d16.4bb06"]]},{"id":"e79359cf.8478b8","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":660,"wires":[["c73c0567.6fcf18"]]},{"id":"b75dd707.9179c8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person GET Get Face","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}/persistedFaces/{{{persistedFaceId}}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":660,"wires":[["c3fa6d92.4d426"]],"info":"Retrieve person face information. The persisted person face is specified by its personGroupId, personId and persistedFaceId."},{"id":"c3fa6d92.4d426","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":660,"wires":[]},{"id":"c73c0567.6fcf18","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"personId","pt":"msg","to":"6b223f29-9ea6-4c1f-ba0b-b843f2d952fd","tot":"str"},{"t":"set","p":"persistedFaceId","pt":"msg","to":"1aca4c5e-74ce-4a9d-a618-c37fccca9f01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":660,"wires":[["b75dd707.9179c8"]]},{"id":"7f75807.5a6de8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"makerdemy","tot":"str"},{"t":"set","p":"start","pt":"msg","to":"","tot":"str"},{"t":"set","p":"top","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":700,"wires":[["c13b1874.d37ff8"]]},{"id":"fc866078.9e349","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":700,"wires":[["7f75807.5a6de8"]]},{"id":"c13b1874.d37ff8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person GET List","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons?start={{{start}}}&top={{{top}}}","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":700,"wires":[["eddafda0.e15b8"]],"info":"List all persons’ information in the specified person group, including personId, name, userData and persistedFaceIds of registered person faces.\r\n\r\n - Persons are stored in alphabetical order of personId created in PersonGroup Person - Create.\r\n - \"start\" parameter (string, optional) is a personId value that returned entries have larger ids by string comparison. \"start\" set to empty to indicate return from the first item.\r\n - \"top\" parameter (int, optional) specifies the number of entries to return. A maximal of 1000 entries can be returned in one call. To fetch more, you can specify \"start\" with the last returned entry’s personId of the current call.\r\nFor example, total 5 persons with their personId: \"personId1\", ..., \"personId5\".\r\n\"start=&top=\" will return all 5 persons.\r\n\"start=&top=2\" will return \"personId1\", \"personId2\".\r\n\"start=personId2&top=3\" will return \"personId3\", \"personId4\", \"personId5\"."},{"id":"eddafda0.e15b8","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":700,"wires":[]},{"id":"a4710d11.7d8c","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":740,"wires":[["e9a994be.7797a8"]]},{"id":"fb448365.e369d","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person PATCH Update","method":"use","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":740,"wires":[["4dddec26.82bdf4"]],"info":"Update name or userData of a person."},{"id":"4dddec26.82bdf4","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":740,"wires":[]},{"id":"e9a994be.7797a8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"PATCH","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"","tot":"str"},{"t":"set","p":"personId","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"\",\"userData\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":740,"wires":[["fb448365.e369d"]]},{"id":"71fd13ab.a0754c","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":780,"wires":[["4e0de866.e243b8"]]},{"id":"96c2b81d.9623b8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person PATCH Update Face","method":"use","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}/persistedFaces/{{{persistedFaceId}}}","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":780,"wires":[["ebd74619.e564d8"]],"info":"Update a person persisted face's userData field."},{"id":"ebd74619.e564d8","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":780,"wires":[]},{"id":"4e0de866.e243b8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"PATCH","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"","tot":"str"},{"t":"set","p":"personId","pt":"msg","to":"","tot":"str"},{"t":"set","p":"persistedFaceId","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"userData\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["96c2b81d.9623b8"]]},{"id":"2308970e.81ce78","type":"usbcamera","z":"14e6182e.27ae38","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","name":"","x":490,"y":80,"wires":[["8e4061d8.40ad8","befa50ed.f3a7"]]},{"id":"befa50ed.f3a7","type":"image","z":"14e6182e.27ae38","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":1300,"y":80,"wires":[]},{"id":"a0dd31d8.f74d9","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1120,"wires":[["86ad456e.012a98"]]},{"id":"86ad456e.012a98","type":"usbcamera","z":"14e6182e.27ae38","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","name":"","x":350,"y":1120,"wires":[["7df09ab7.840994","6c89f0eb.245d9"]]},{"id":"7df09ab7.840994","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/octet-stream\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"returnFaceId","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"recognitionModel","pt":"msg","to":"recognition_02","tot":"str"},{"t":"set","p":"returnRecognitionModel","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1120,"wires":[["773a3d19.5804a4"]]},{"id":"773a3d19.5804a4","type":"http request","z":"14e6182e.27ae38","name":"Face POST Detect","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId={{{returnFaceId}}}&recognitionModel={{{recognitionModel}}}&returnRecognitionModel={{{returnRecognitionModel}}}","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":1120,"wires":[["2cd9ce63.5bf8a2"]],"info":"Detect human faces in an image, return face rectangles, and optionally with faceIds, landmarks, and attributes.\r\n\r\n - No image will be stored. Only the extracted face feature(s) will be stored on server. The faceId is an identifier of the face feature and will be used in Face - Identify, Face - Verify, and Face - Find Similar. The stored face features will expire and be deleted 24 hours after the original detection call.\r\n - Optional parameters include faceId, landmarks, and attributes. Attributes include age, gender, headPose, smile, facialHair, glasses, emotion, hair, makeup, occlusion, accessories, blur, exposure and noise. Some of the results returned for specific attributes may not be highly accurate.\r\n - JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 6MB.\r\n - The minimum detectable face size is 36x36 pixels in an image no larger than 1920x1080 pixels. Images with dimensions higher than 1920x1080 pixels will need a proportionally larger minimum face size.\r\n - Up to 100 faces can be returned for an image. Faces are ranked by face rectangle size from large to small.\r\n - For optimal results when querying Face - Identify, Face - Verify, and Face - Find Similar ('returnFaceId' is true), please use faces that are: frontal, clear, and with a minimum size of 200x200 pixels (100 pixels between eyes).\r\n - Different 'detectionModel' values can be provided. To use and compare different detection models, please refer to How to specify a detection model\r\n    *'detection_01': The default detection model for Face - Detect. Recommend for near frontal face detection. For scenarios with exceptionally large angle (head-pose) faces, occluded faces or wrong image orientation, the faces in such cases may not be detected.\r\n    *'detection_02': Detection model released in 2019 May with improved accuracy especially on small, side and blurry faces. Face attributes and landmarks are disabled if you choose this detection model.\r\n - Different 'recognitionModel' values are provided. If follow-up operations like Verify, Identify, Find Similar are needed, please specify the recognition model with 'recognitionModel' parameter. The default value for 'recognitionModel' is 'recognition_01', if latest model needed, please explicitly specify the model you need in this parameter. Once specified, the detected faceIds will be associated with the specified recognition model. More details, please refer to How to specify a recognition model.\r\n    *'recognition_01': The default recognition model for Face - Detect. All those faceIds created before 2019 March are bonded with this recognition model.\r\n    *'recognition_02': Recognition model released in 2019 March. 'recognition_02' is recommended since its overall accuracy is improved compared with 'recognition_01'."},{"id":"6efbb2c8.f3247c","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":1100,"wires":[]},{"id":"6c89f0eb.245d9","type":"image","z":"14e6182e.27ae38","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":1300,"y":1000,"wires":[]},{"id":"7dbc5f00.1e7f9","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1180,"wires":[["bf93a75d.8c6fe8"]]},{"id":"bf93a75d.8c6fe8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1180,"wires":[["3dfd601.80cc0a"]]},{"id":"bcdc56fe.2ac068","type":"http request","z":"14e6182e.27ae38","name":"Face POST Identify","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/identify","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":1180,"wires":[["f138766a.9f5d58","a5c3b2de.8350f","a2987332.4a8ce"]],"info":"1-to-many identification to find the closest matches of the specific query person face from a person group or large person group.\r\n\r\nFor each face in the faceIds array, Face Identify will compute similarities between the query face and all the faces in the person group (given by personGroupId) or large person group (given by largePersonGroupId), and return candidate person(s) for that face ranked by similarity confidence. The person group/large person group should be trained to make it ready for identification. See more in PersonGroup - Train and LargePersonGroup - Train.\r\n\r\nRemarks:\r\n\r\n - The algorithm allows more than one face to be identified independently at the same request, but no more than 10 faces.\r\n - Each person in the person group/large person group could have more than one face, but no more than 248 faces.\r\n - Higher face image quality means better identification precision. Please consider high-quality faces: frontal, clear, and face size is 200x200 pixels (100 pixels between eyes) or bigger.\r\n - Number of candidates returned is restricted by maxNumOfCandidatesReturned and confidenceThreshold. If no person is identified, the returned candidates will be an empty array.\r\n - Try Face - Find Similar when you need to find similar faces from a face list/large face list instead of a person group/large person group.\r\n - The 'recognitionModel' associated with the query faces' faceIds should be the same as the 'recognitionModel' used by the target person group or large person group."},{"id":"2cd9ce63.5bf8a2","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":1120,"wires":[["6efbb2c8.f3247c","b6a15616.fb6628"],["bf93a75d.8c6fe8"]]},{"id":"3dfd601.80cc0a","type":"function","z":"14e6182e.27ae38","name":"msg.payload","func":"let Id = global.get(\"personGroup.Id\");\n\nmsg.payload = {\n    \"faceIds\":[msg.payload[0].faceId],\n    \"personGroupId\":Id,\n    \"maxNumOfCandidatesReturned\":10,\n    \"confidenceThreshold\":0.5\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1180,"wires":[["bcdc56fe.2ac068"]]},{"id":"a708283a.fa6198","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1020,"wires":[["931383ae.b846","9b2037d4.23d2a8"]]},{"id":"931383ae.b846","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"hash","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"personGroup.Id","pt":"global","to":"makerdemy","tot":"str"},{"t":"set","p":"personGroup.name","pt":"global","to":"Employees","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1020,"wires":[["7de0f694.78ad58"]]},{"id":"7de0f694.78ad58","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":1020,"wires":[]},{"id":"8c191d82.22e4f","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"46cd7367.e3681c","order":0,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":1080,"wires":[["86ad456e.012a98"]]},{"id":"9ec3ac4f.7bd94","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"46cd7367.e3681c","order":1,"width":0,"height":0,"passthru":false,"label":"Admin console","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":1280,"wires":[["ad0cfc30.18851"]]},{"id":"ad0cfc30.18851","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1280,"wires":[["3bf4405c.d7fbe"]]},{"id":"3bf4405c.d7fbe","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Button Panel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1280,"wires":[["dd0b3802.818f08"]]},{"id":"dd0b3802.818f08","type":"ui_ui_control","z":"14e6182e.27ae38","name":"--> Button Panel","events":"change","x":760,"y":1280,"wires":[[]]},{"id":"f4a6cba.077ff38","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 1","order":1,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '1' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-1\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">1</text>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":190,"y":1360,"wires":[["87d0e8cd.c062a8"]]},{"id":"bacc49d0.0bec98","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 6","order":6,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '6'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-6\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">6</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":470,"y":1400,"wires":[["87d0e8cd.c062a8"]]},{"id":"2fc6e935.516666","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 3","order":3,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '3' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-3\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">3</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":470,"y":1360,"wires":[["87d0e8cd.c062a8"]]},{"id":"e982e0f9.26923","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 4","order":4,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '4'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-4\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">4</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":190,"y":1400,"wires":[["87d0e8cd.c062a8"]]},{"id":"a2d1f99.c8bd708","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 5","order":5,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '5'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-5\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">5</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":1400,"wires":[["87d0e8cd.c062a8"]]},{"id":"315b3fa6.b806e","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 7","order":7,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '7'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-7\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">7</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":190,"y":1440,"wires":[["87d0e8cd.c062a8"]]},{"id":"6459fcbe.fb2864","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 2","order":2,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '2' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-2\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">2</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":330,"y":1360,"wires":[["87d0e8cd.c062a8"]]},{"id":"372306c5.0cbb7a","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 8","order":8,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '8'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-8\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">8</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":330,"y":1440,"wires":[["87d0e8cd.c062a8"]]},{"id":"b412afcf.1ce55","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 9","order":9,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '9'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-9\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">9</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":470,"y":1440,"wires":[["87d0e8cd.c062a8"]]},{"id":"6dea41de.49688","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key *","order":10,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '*'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-Reset\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\">\n    <title>Reset</title>\n  </rect>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"50\" y=\"250\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 250px; font-family: Arial;\">*</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":190,"y":1480,"wires":[["87d0e8cd.c062a8"]]},{"id":"86d962be.bce73","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key 0","order":11,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '0'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-0\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">0</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":330,"y":1480,"wires":[["87d0e8cd.c062a8"]]},{"id":"4472c55f.3eb43c","type":"ui_template","z":"14e6182e.27ae38","group":"1a477ef.8bc9481","name":"Key #","order":12,"width":"2","height":"2","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: '#'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 200 200\">\n <g id=\"Key-Enter\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\">\n    <title>Enter</title>\n  </rect>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">#</text>\n </g>\n</svg>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":470,"y":1480,"wires":[["87d0e8cd.c062a8"]]},{"id":"87d0e8cd.c062a8","type":"function","z":"14e6182e.27ae38","name":"code entry","func":"var key = msg.payload;\nvar out = context.get(\"code\") || \"\";\n\nif (key === \"#\") {\n    key = \"\"; // send code\n}\nelse if (key === \"*\") {\n    key = \"\"; // reset code\n    out = \"\";\n}\nelse if (!isNaN(+key)) {\n    out += key; // append key\n}\ncontext.set(\"code\", key ? out : undefined);\n\n// output #1: keys entered\n// output #2: completed code\nmsg.payload = out;\nreturn [\n    key ? msg : {payload: \"\"},\n    out ? msg : null\n];","outputs":2,"noerr":0,"x":650,"y":1420,"wires":[[],["cf0d69db.e89bb8","7d0898f6.731338"]],"outputLabels":["last key number","completed code"]},{"id":"cf0d69db.e89bb8","type":"debug","z":"14e6182e.27ae38","name":"code entered","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":690,"y":1480,"wires":[]},{"id":"aac16dad.891ab","type":"ui_ui_control","z":"14e6182e.27ae38","name":"--> Admin","events":"change","x":1380,"y":1460,"wires":[[]]},{"id":"6026d4aa.4fb95c","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"1e4cc8b1.1e2597","order":1,"width":0,"height":0,"passthru":false,"label":"Add Person to PersonGroup","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":260,"y":1560,"wires":[["d1ef0b9a.5abd28"]]},{"id":"d1ef0b9a.5abd28","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1560,"wires":[["9eaef85f.305078"]]},{"id":"9eaef85f.305078","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PersonGroup","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1560,"wires":[["4d60f204.f4eb8c"]]},{"id":"4d60f204.f4eb8c","type":"ui_ui_control","z":"14e6182e.27ae38","name":"--> PersonGroup","events":"change","x":850,"y":1560,"wires":[[]]},{"id":"559cfae.29fe304","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"1e4cc8b1.1e2597","order":1,"width":0,"height":0,"passthru":false,"label":"Manage Person data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":240,"y":1600,"wires":[["dc524728.fa6ae8"]]},{"id":"dc524728.fa6ae8","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1600,"wires":[["1c31538b.593e1c"]]},{"id":"1c31538b.593e1c","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Manage Data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1600,"wires":[["a0f2d2c1.8259d"]]},{"id":"a0f2d2c1.8259d","type":"ui_ui_control","z":"14e6182e.27ae38","name":"--> Manage Data","events":"change","x":850,"y":1600,"wires":[[]]},{"id":"4269f816.9d04e8","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1800,"wires":[["e31dbdc6.04bc4"]]},{"id":"bc2138a0.2cad38","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person POST Create","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":1800,"wires":[["77c99e4.384706"]],"info":"Create a new person in a specified person group. To add face to this person, please call PersonGroup PersonFace - Add.\r\n\r\n * Free-tier subscription quota:\r\n     - 1,000 persons in all person groups.\r\n * S0-tier subscription quota:\r\n     - 10,000 persons per person group.\r\n     - 1,000,000 person groups.\r\n     - 100,000,000 persons in all person groups."},{"id":"bdcf6887.51de98","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":1800,"wires":[]},{"id":"e31dbdc6.04bc4","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1800,"wires":[["bc2138a0.2cad38"]]},{"id":"b33d898d.a57388","type":"ui_text_input","z":"14e6182e.27ae38","name":"","label":"Person display name","tooltip":"","group":"ed65496b.dc58a8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"name","x":240,"y":1720,"wires":[["7b853ce6.a549b4"]]},{"id":"2b942113.ff573e","type":"ui_text_input","z":"14e6182e.27ae38","name":"","label":"User ID","tooltip":"","group":"ed65496b.dc58a8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"id","x":200,"y":1760,"wires":[["7b853ce6.a549b4"]]},{"id":"7b853ce6.a549b4","type":"join","z":"14e6182e.27ae38","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":1760,"wires":[["e31dbdc6.04bc4","1f0d804a.5b803"]]},{"id":"77c99e4.384706","type":"function","z":"14e6182e.27ae38","name":"global.set","func":"var obj = global.get(\"personId\")||{};\nvar topic = msg.topic;\nobj[topic] = msg.payload.personId;\nglobal.set(\"personId\",obj);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1800,"wires":[["bdcf6887.51de98","1c8a3091.3d605f"]]},{"id":"3a173452.1043dc","type":"ui_text_input","z":"14e6182e.27ae38","name":"","label":"Image URL","tooltip":"","group":"d7a957ed.1ba158","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"url_value","x":210,"y":1860,"wires":[["7f3b2510.f0896c"]]},{"id":"db1a52de.e849d","type":"ui_text_input","z":"14e6182e.27ae38","name":"","label":"User ID","tooltip":"","group":"d7a957ed.1ba158","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"id","x":200,"y":1900,"wires":[["7f3b2510.f0896c"]]},{"id":"7f3b2510.f0896c","type":"join","z":"14e6182e.27ae38","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":1900,"wires":[["c9069e8e.9944f","6ad80180.9e9bc"]]},{"id":"94c3abec.717698","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1940,"wires":[["c9069e8e.9944f"]]},{"id":"d73bf879.aecab8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person POST Add Face","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}/persistedFaces","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":1940,"wires":[["590c0436.8fe0cc","5af5cd4a.514ec4"]],"info":"Add a face to a person into a person group for face identification or verification. To deal with an image containing multiple faces, input face can be specified as an image with a targetFace rectangle. It returns a persistedFaceId representing the added face. No image will be stored. Only the extracted face feature(s) will be stored on server until PersonGroup PersonFace - Delete, PersonGroup Person - Delete or PersonGroup - Delete is called.\r\nNote persistedFaceId is different from faceId generated by Face - Detect.\r\n\r\n * Higher face image quality means better recognition precision. Please consider high-quality faces: frontal, clear, and face size is 200x200 pixels (100 pixels between eyes) or bigger.\r\n * Each person entry can hold up to 248 faces.\r\n * JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 6MB.\r\n * \"targetFace\" rectangle should contain one face. Zero or multiple faces will be regarded as an error. If the provided \"targetFace\" rectangle is not returned from Face - Detect, there’s no guarantee to detect and add the face successfully.\r\n * Out of detectable face size (36x36 - 4096x4096 pixels), large head-pose, or large occlusions will cause failures.\r\n * Adding/deleting faces to/from a same person will be processed sequentially. Adding/deleting faces to/from different persons are processed in parallel.\r\n * The minimum detectable face size is 36x36 pixels in an image no larger than 1920x1080 pixels. Images with dimensions higher than 1920x1080 pixels will need a proportionally larger minimum face size.\r\n * Different 'detectionModel' values can be provided. To use and compare different detection models, please refer to How to specify a detection model\r\n     - 'detection_01': The default detection model for PersonGroup Person - Add Face. Recommend for near frontal face detection. For scenarios with exceptionally large angle (head-pose) faces, occluded faces or wrong image orientation, the faces in such cases may not be detected.\r\n     - 'detection_02': Detection model released in 2019 May with improved accuracy especially on small, side and blurry faces."},{"id":"590c0436.8fe0cc","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":1940,"wires":[]},{"id":"c9069e8e.9944f","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1940,"wires":[["ffe68635.f9b748","6ad80180.9e9bc"]]},{"id":"ffe68635.f9b748","type":"function","z":"14e6182e.27ae38","name":"personId + payload","func":"let id = \"personId.\"+msg.payload.id;\nmsg.personId = global.get(id);\n\nmsg.payload = {\n    \"url\": msg.payload.url_value\n};\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1940,"wires":[["d73bf879.aecab8","6ad80180.9e9bc"]]},{"id":"45fc9c27.702264","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"cc289acc.390d98","order":4,"width":0,"height":0,"passthru":false,"label":"Train model","tooltip":"","color":"","bgcolor":"","icon":"functions","payload":"true","payloadType":"bool","topic":"","x":210,"y":2000,"wires":[["acd6539d.9f6b5"]]},{"id":"a3a73107.17e72","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2040,"wires":[["acd6539d.9f6b5"]]},{"id":"1391b9ec.813dd6","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"d9c64180.97ba","order":1,"width":0,"height":0,"passthru":false,"label":"Training status","tooltip":"","color":"","bgcolor":"","icon":"fa-spinner","payload":"true","payloadType":"bool","topic":"status","x":220,"y":2100,"wires":[["a57eecf0.ecd5c"]]},{"id":"71e1fb84.3c74e4","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2140,"wires":[["a57eecf0.ecd5c"]]},{"id":"acd6539d.9f6b5","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2040,"wires":[["528b88b6.f3dab8"]]},{"id":"a57eecf0.ecd5c","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2140,"wires":[["bd31df9.403182"]]},{"id":"528b88b6.f3dab8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup POST Train","method":"POST","ret":"obj","paytoqs":false,"url":"https://nr-face.cognitiveservices.azure.com/face/v1.0/persongroups/{{{personGroupId}}}/train","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":2040,"wires":[["d9d05301.38057","7f3a8c73.0b6a74"]],"info":"Submit a person group training task. Training is a crucial step that only a trained person group can be used by Face - Identify.\r\n\r\nThe training task is an asynchronous task. Training time depends on the number of person entries, and their faces in a person group. It could be several seconds to minutes. To check training status, please use PersonGroup - Get Training Status."},{"id":"bd31df9.403182","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup GET Get Training Status","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/training","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":2140,"wires":[["8a8836b1.8b9ab8","f6d8256.36359d8"]],"info":"To check person group training status completed or still ongoing. PersonGroup Training is an asynchronous operation triggered by PersonGroup - Train API."},{"id":"d9d05301.38057","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":2040,"wires":[]},{"id":"8a8836b1.8b9ab8","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":2140,"wires":[]},{"id":"1d85049f.b466db","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2260,"wires":[["8277b310.31725"]]},{"id":"8277b310.31725","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"},{"t":"set","p":"returnRecognitionModel","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2260,"wires":[["182b4047.04a9c"]]},{"id":"a4dfc67d.6210a8","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"e7dd59b8.71b9f8","order":1,"width":0,"height":0,"passthru":false,"label":"Get data","tooltip":"","color":"","bgcolor":"","icon":"people_outline","payload":"true","payloadType":"bool","topic":"","x":200,"y":2220,"wires":[["8277b310.31725"]]},{"id":"2e835011.27e8e","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":2260,"wires":[]},{"id":"2eeea54a.35fd5a","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"7d020b87.c50344","order":1,"width":0,"height":0,"passthru":false,"label":"Get data","tooltip":"","color":"","bgcolor":"","icon":"person_outline","payload":"true","payloadType":"bool","topic":"","x":200,"y":2320,"wires":[["411a4011.5058"]]},{"id":"67bc78d0.3b5ed8","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2360,"wires":[["411a4011.5058"]]},{"id":"411a4011.5058","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"},{"t":"set","p":"start","pt":"msg","to":"","tot":"str"},{"t":"set","p":"top","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2360,"wires":[["2333b00c.08037"]]},{"id":"2333b00c.08037","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person GET List","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons?start={{{start}}}&top={{{top}}}","tls":"","proxy":"","authType":"","x":690,"y":2360,"wires":[["4b529453.ab580c","a32badfc.9a13c","fcefd3f2.52af2"]],"info":"List all persons’ information in the specified person group, including personId, name, userData and persistedFaceIds of registered person faces."},{"id":"4b529453.ab580c","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":2360,"wires":[]},{"id":"5a0c6910.269e58","type":"function","z":"14e6182e.27ae38","name":"Table template","func":"\nmsg.payload = [\n    {\n        \"Topic\": \"recognitionModel\",\n        \"Value\": msg.payload.recognitionModel\n    },\n    {\n        \"Topic\": \"personGroupId\",\n        \"Value\": msg.payload.personGroupId\n    },\n    {\n        \"Topic\": \"name\",\n        \"Value\": msg.payload.name\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":2220,"wires":[["2270725b.2ee1fe"]]},{"id":"2270725b.2ee1fe","type":"ui_table","z":"14e6182e.27ae38","group":"e7dd59b8.71b9f8","name":"","order":2,"width":"14","height":"5","columns":[],"outputs":0,"cts":false,"x":1030,"y":2220,"wires":[]},{"id":"91a2d967.7c5a98","type":"function","z":"14e6182e.27ae38","name":"msg.options","func":"msg.options = [];\nfor(var l=0;l<msg.payload.length;l++){\n    msg.options.push(l+\"\");\n}\nflow.set(\"data\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2320,"wires":[["9cc6443f.1fbe68"]]},{"id":"9cc6443f.1fbe68","type":"ui_dropdown","z":"14e6182e.27ae38","name":"","label":"","tooltip":"","place":"Select option","group":"7d020b87.c50344","order":2,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":1160,"y":2320,"wires":[["43489c9d.14c604"]]},{"id":"43489c9d.14c604","type":"function","z":"14e6182e.27ae38","name":"Table template","func":"\nif(typeof msg.payload === 'string'){\n    var n = parseInt(msg.payload);\n    var data = flow.get('data');\n    msg.payload = [\n        {\n            \"Topic\": \"personId\",\n            \"Value\": data[n].personId\n        },\n        {\n            \"Topic\": \"persistedFaceIds\",\n            \"Value\": data[n].persistedFaceIds.toString()\n        },\n        {\n            \"Topic\": \"name\",\n            \"Value\": data[n].name\n        }\n    ];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":2320,"wires":[["86483cb4.06cf4"]]},{"id":"86483cb4.06cf4","type":"ui_table","z":"14e6182e.27ae38","group":"7d020b87.c50344","name":"","order":4,"width":"14","height":"5","columns":[],"outputs":0,"cts":false,"x":1370,"y":2360,"wires":[]},{"id":"60390d68.aa0df4","type":"ui_text_input","z":"14e6182e.27ae38","name":"","label":"Person ID","tooltip":"","group":"bbaeb9cc.4496a8","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":200,"y":2420,"wires":[["fc84c67a.bb3618"]]},{"id":"a1e676a5.c6fe88","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2460,"wires":[["fc84c67a.bb3618"]]},{"id":"fc84c67a.bb3618","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"},{"t":"set","p":"personId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2460,"wires":[["dc923d04.04b46"]]},{"id":"dc923d04.04b46","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup Person DELETE Delete","method":"DELETE","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}/persons/{{{personId}}}","tls":"","proxy":"","authType":"","x":710,"y":2460,"wires":[["e3698387.1b68"]],"info":"Delete an existing person from a person group. The persistedFaceId, userData, person name and face feature(s) in the person entry will all be deleted."},{"id":"e3698387.1b68","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"delete","p":"personId","pt":"global"},{"t":"delete","p":"data","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2460,"wires":[["6de08aa4.c87734","2bd00ea4.081632"]]},{"id":"6de08aa4.c87734","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":2460,"wires":[]},{"id":"2b5f834c.823adc","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"1a477ef.8bc9481","order":16,"width":"6","height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"fa-home","payload":"true","payloadType":"bool","topic":"","x":190,"y":2640,"wires":[["1d0bd2b8.4ce43d"]]},{"id":"1d0bd2b8.4ce43d","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2640,"wires":[["dc08b1d4.dded5"]]},{"id":"dc08b1d4.dded5","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Makerdemy Security System","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2640,"wires":[["18cc23b4.85749c"]]},{"id":"18cc23b4.85749c","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Makerdemy Security System ->","events":"change","x":690,"y":2640,"wires":[[]]},{"id":"22376fce.c5082","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Makerdemy Security System ->","events":"change","x":690,"y":2680,"wires":[[]]},{"id":"fc2c018d.b275","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Makerdemy Security System","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2680,"wires":[["22376fce.c5082"]]},{"id":"83d892bc.034f","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"1e4cc8b1.1e2597","order":3,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"fa-home","payload":"true","payloadType":"bool","topic":"","x":190,"y":2680,"wires":[["adacfda.2036e"]]},{"id":"14e946d7.26eb29","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"ac06182b.f6f948","order":2,"width":"0","height":"0","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":190,"y":2720,"wires":[["f2a672cb.3d34"]]},{"id":"f2a672cb.3d34","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2720,"wires":[["7d68430a.dd253c"]]},{"id":"adacfda.2036e","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2680,"wires":[["fc2c018d.b275"]]},{"id":"baf33685.64fc18","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"9d3ea572.857718","order":1,"width":"14","height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":190,"y":2760,"wires":[["1a382155.08c83f"]]},{"id":"1a382155.08c83f","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2760,"wires":[["e27d5885.89c108"]]},{"id":"e27d5885.89c108","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Admin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2760,"wires":[["3160309b.37bcd"]]},{"id":"7d68430a.dd253c","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Admin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2720,"wires":[["13cc33d.51f17cc"]]},{"id":"13cc33d.51f17cc","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Admin ->","events":"change","x":620,"y":2720,"wires":[[]]},{"id":"3160309b.37bcd","type":"ui_ui_control","z":"14e6182e.27ae38","name":"Admin ->","events":"change","x":620,"y":2760,"wires":[[]]},{"id":"f138766a.9f5d58","type":"function","z":"14e6182e.27ae38","name":"Check","func":"var msg2 = {payload: false};\nvar obj = global.get(\"personId\");\nmsg.keyNames = Object.keys(obj);\nvar count=0;\n\nfor(var i=0; i<msg.keyNames.length; i++){\n    var a = msg.keyNames[i];\n    if(msg.payload[0].candidates[0].personId === obj[a]){\n        count += 1;\n    }\n}\nif(count>0){\n    return [msg, null];\n}else{\n    return [null, msg2];\n}\nreturn msg;","outputs":2,"noerr":0,"x":790,"y":1220,"wires":[["d5c104e7.f02338"],["36a569b5.b6f816"]]},{"id":"b6a15616.fb6628","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Access denied!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1060,"wires":[["c5989b09.602f18"]]},{"id":"c5989b09.602f18","type":"ui_toast","z":"14e6182e.27ae38","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Access denied!","x":1300,"y":1060,"wires":[]},{"id":"a5c3b2de.8350f","type":"switch","z":"14e6182e.27ae38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"400","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1180,"wires":[["38827c02.06b524"],["2713a905.287fe6"]]},{"id":"38827c02.06b524","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not a registered user!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1160,"wires":[["d837fefb.7665a"]]},{"id":"d837fefb.7665a","type":"ui_toast","z":"14e6182e.27ae38","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Not a registered user!","x":1320,"y":1160,"wires":[]},{"id":"d5c104e7.f02338","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Access granted!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1240,"wires":[["3912d5f1.cce13a"]]},{"id":"3912d5f1.cce13a","type":"ui_toast","z":"14e6182e.27ae38","position":"bottom right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Access granted!","x":1140,"y":1240,"wires":[]},{"id":"36a569b5.b6f816","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Access denied!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1280,"wires":[["48594690.95a0e8"]]},{"id":"48594690.95a0e8","type":"ui_toast","z":"14e6182e.27ae38","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Access denied!","x":1140,"y":1280,"wires":[]},{"id":"2713a905.287fe6","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":1110,"y":1200,"wires":[]},{"id":"1c8a3091.3d605f","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":1110,"y":1760,"wires":[]},{"id":"5af5cd4a.514ec4","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":1190,"y":1900,"wires":[]},{"id":"7f3a8c73.0b6a74","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":890,"y":2000,"wires":[]},{"id":"f6d8256.36359d8","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":970,"y":2100,"wires":[]},{"id":"8931ba7f.93b5e8","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.error.message","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":2220,"wires":[["60278363.98b94c"],["5a0c6910.269e58"]]},{"id":"60278363.98b94c","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.error.message","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2180,"wires":[["1d689de9.e03822"]]},{"id":"1d689de9.e03822","type":"ui_toast","z":"14e6182e.27ae38","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"payload.error.message","x":1080,"y":2180,"wires":[]},{"id":"182b4047.04a9c","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup GET Get","method":"GET","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/persongroups/{{{personGroupId}}}?returnRecognitionModel={{{returnRecognitionModel}}}","tls":"","proxy":"","authType":"","x":660,"y":2260,"wires":[["2e835011.27e8e","8931ba7f.93b5e8","3989fd9e.2f7bf2"]],"info":"Retrieve person group name, userData and recognitionModel. To get person information under this personGroup, use PersonGroup Person - List."},{"id":"3989fd9e.2f7bf2","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":690,"y":2180,"wires":[]},{"id":"a32badfc.9a13c","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.error.message","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":2320,"wires":[["b384217f.45544"],["91a2d967.7c5a98"]]},{"id":"b384217f.45544","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.error.message","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2280,"wires":[["836e0d27.ffa5a"]]},{"id":"836e0d27.ffa5a","type":"ui_toast","z":"14e6182e.27ae38","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"payload.error.message","x":1220,"y":2280,"wires":[]},{"id":"fcefd3f2.52af2","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":690,"y":2300,"wires":[]},{"id":"2bd00ea4.081632","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":1170,"y":2420,"wires":[]},{"id":"96bb1d22.656b4","type":"ui_button","z":"14e6182e.27ae38","name":"","group":"fd6c1ba4.fc4208","order":1,"width":0,"height":0,"passthru":false,"label":"Reset all","tooltip":"","color":"","bgcolor":"","icon":"fa-trash","payload":"true","payloadType":"bool","topic":"reset","x":200,"y":2520,"wires":[["3b1aecd0.97eac4"]]},{"id":"8be624d7.b048f8","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2560,"wires":[["3b1aecd0.97eac4"]]},{"id":"ea2329ef.1219f8","type":"http request","z":"14e6182e.27ae38","name":"PersonGroup DELETE Delete","method":"DELETE","ret":"txt","paytoqs":false,"url":"https://nr-face.cognitiveservices.azure.com/face/v1.0/persongroups/{{{personGroupId}}}","tls":"","proxy":"","authType":"","x":690,"y":2560,"wires":[["f640a491.d5b9c8"]],"info":"Delete an existing person group with specified personGroupId. Persisted data in this person group will be deleted."},{"id":"b6d069ae.73d828","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":2560,"wires":[]},{"id":"3b1aecd0.97eac4","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"personGroupId","pt":"msg","to":"personGroup.Id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2560,"wires":[["ea2329ef.1219f8"]]},{"id":"f640a491.d5b9c8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"delete","p":"personGroup","pt":"global"},{"t":"delete","p":"personId","pt":"global"},{"t":"delete","p":"data","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2560,"wires":[["b6d069ae.73d828","60f48206.9cd85c","20bf3d9a.476692"]]},{"id":"1f0d804a.5b803","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":1760,"wires":[]},{"id":"6ad80180.9e9bc","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":1900,"wires":[]},{"id":"60f48206.9cd85c","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":1170,"y":2520,"wires":[]},{"id":"20bf3d9a.476692","type":"link out","z":"14e6182e.27ae38","name":"","links":["7854112b.d2cca","8c4081fb.105f8"],"x":1115,"y":2600,"wires":[]},{"id":"7854112b.d2cca","type":"link in","z":"14e6182e.27ae38","name":"","links":["20bf3d9a.476692"],"x":115,"y":940,"wires":[["9b2037d4.23d2a8"]]},{"id":"8c4081fb.105f8","type":"link in","z":"14e6182e.27ae38","name":"","links":["20bf3d9a.476692"],"x":295,"y":200,"wires":[["4c8810ca.70078"]]},{"id":"7d0898f6.731338","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1420,"wires":[["ea51826d.8d29e"]]},{"id":"4571def7.a8744","type":"bcrypt","z":"14e6182e.27ae38","name":"","action":"verify","field":"payload","hash":"hash","rounds":10,"x":1030,"y":1380,"wires":[["625a94b4.e5429c"]]},{"id":"625a94b4.e5429c","type":"switch","z":"14e6182e.27ae38","name":"","property":"match","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":1420,"wires":[["beb0c533.788928"]]},{"id":"beb0c533.788928","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Admin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1420,"wires":[["aac16dad.891ab"]]},{"id":"ea51826d.8d29e","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"hash","pt":"msg","to":"hash","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1380,"wires":[["4571def7.a8744"]]},{"id":"9b2037d4.23d2a8","type":"change","z":"14e6182e.27ae38","name":"Enter code","rules":[{"t":"set","p":"payload","pt":"msg","to":"123","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":980,"wires":[["c327e97f.b1db98"]]},{"id":"c327e97f.b1db98","type":"bcrypt","z":"14e6182e.27ae38","name":"","action":"encrypt","field":"","hash":"payload","rounds":10,"x":330,"y":980,"wires":[["931383ae.b846"]]},{"id":"a2987332.4a8ce","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1180,"wires":[]},{"id":"46cd7367.e3681c","type":"ui_group","z":"","name":"Group 1","tab":"6e73db96.857504","order":1,"disp":false,"width":"14","collapse":false},{"id":"1a477ef.8bc9481","type":"ui_group","z":"","name":"Keypad","tab":"52655798.814f88","order":5,"disp":true,"width":"6","collapse":false},{"id":"1e4cc8b1.1e2597","type":"ui_group","z":"","name":"Group 1","tab":"13fbe677.e3c83a","order":1,"disp":false,"width":"14","collapse":false},{"id":"ed65496b.dc58a8","type":"ui_group","z":"","name":"PersonGroup Person - Create","tab":"c7f45ea6.01fad","order":1,"disp":true,"width":"14","collapse":false},{"id":"d7a957ed.1ba158","type":"ui_group","z":"","name":"PersonGroup Person - Add Face","tab":"c7f45ea6.01fad","order":2,"disp":true,"width":"14","collapse":false},{"id":"cc289acc.390d98","type":"ui_group","z":"","name":"Train model","tab":"c7f45ea6.01fad","order":3,"disp":true,"width":"14","collapse":false},{"id":"d9c64180.97ba","type":"ui_group","z":"","name":"Training status","tab":"c7f45ea6.01fad","order":4,"disp":true,"width":"14","collapse":false},{"id":"e7dd59b8.71b9f8","type":"ui_group","z":"","name":"Get PersonGroup data","tab":"d97c9ba4.782648","order":1,"disp":true,"width":"14","collapse":false},{"id":"7d020b87.c50344","type":"ui_group","z":"","name":"Get PersonGroup Person data","tab":"d97c9ba4.782648","order":2,"disp":true,"width":"14","collapse":false},{"id":"bbaeb9cc.4496a8","type":"ui_group","z":"","name":"Delete PersonGroup Person data","tab":"d97c9ba4.782648","order":3,"disp":true,"width":"14","collapse":false},{"id":"ac06182b.f6f948","type":"ui_group","z":"","name":"Group 5","tab":"c7f45ea6.01fad","order":5,"disp":false,"width":"14","collapse":false},{"id":"9d3ea572.857718","type":"ui_group","z":"","name":"Group 4","tab":"d97c9ba4.782648","order":5,"disp":false,"width":"14","collapse":false},{"id":"fd6c1ba4.fc4208","type":"ui_group","z":"","name":"Reset","tab":"d97c9ba4.782648","order":4,"disp":true,"width":"14","collapse":false},{"id":"6e73db96.857504","type":"ui_tab","z":"","name":"Makerdemy Security System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"52655798.814f88","type":"ui_tab","z":"","name":"Button Panel","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"13fbe677.e3c83a","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"c7f45ea6.01fad","type":"ui_tab","z":"","name":"PersonGroup","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"d97c9ba4.782648","type":"ui_tab","z":"","name":"Manage Data","icon":"dashboard","order":5,"disabled":false,"hidden":true}]