Section 5/5.5/NotificationFlows.json
[{"id":"d8964a9.447bbb8","type":"subflow","name":"Notification","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"5ce148bb.793208"}]}],"out":[],"env":[]},{"id":"63eca6e.9732a58","type":"ui_toast","z":"d8964a9.447bbb8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"statusCode","x":530,"y":120,"wires":[]},{"id":"ccb8a7f0.3243a8","type":"change","z":"d8964a9.447bbb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"statusCode","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[["63eca6e.9732a58"]]},{"id":"cd32e60f.9cab08","type":"ui_toast","z":"d8964a9.447bbb8","position":"bottom right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"payload.error.message","x":560,"y":80,"wires":[]},{"id":"5ce148bb.793208","type":"switch","z":"d8964a9.447bbb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.error.message","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["f9d57ad0.1363b8"],["ccb8a7f0.3243a8"]]},{"id":"f9d57ad0.1363b8","type":"change","z":"d8964a9.447bbb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.error.message","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["cd32e60f.9cab08"]]},{"id":"2bd00ea4.081632","type":"subflow:d8964a9.447bbb8","z":"14e6182e.27ae38","name":"","env":[],"x":1170,"y":2420,"wires":[]}]