Section 5/5.5/PersonGetTable.json
[{"id":"91a2d967.7c5a98","type":"function","z":"14e6182e.27ae38","name":"msg.options","func":"msg.options = [];\nfor(var l=0;l<msg.payload.length;l++){\n    msg.options.push(l+\"\");\n}\nflow.set(\"data\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":2320,"wires":[["9cc6443f.1fbe68"]]},{"id":"9cc6443f.1fbe68","type":"ui_dropdown","z":"14e6182e.27ae38","name":"","label":"","tooltip":"","place":"Select option","group":"7d020b87.c50344","order":2,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":1160,"y":2320,"wires":[["43489c9d.14c604"]]},{"id":"43489c9d.14c604","type":"function","z":"14e6182e.27ae38","name":"Table template","func":"\nif(typeof msg.payload === 'string'){\n    var n = parseInt(msg.payload);\n    var data = flow.get('data');\n    msg.payload = [\n        {\n            \"Topic\": \"personId\",\n            \"Value\": data[n].personId\n        },\n        {\n            \"Topic\": \"persistedFaceIds\",\n            \"Value\": data[n].persistedFaceIds.toString()\n        },\n        {\n            \"Topic\": \"name\",\n            \"Value\": data[n].name\n        }\n    ];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":2320,"wires":[["86483cb4.06cf4"]]},{"id":"86483cb4.06cf4","type":"ui_table","z":"14e6182e.27ae38","group":"7d020b87.c50344","name":"","order":4,"width":"14","height":"5","columns":[],"outputs":0,"cts":false,"x":1370,"y":2360,"wires":[]},{"id":"7d020b87.c50344","type":"ui_group","z":"","name":"Get PersonGroup Person data","tab":"d97c9ba4.782648","order":2,"disp":true,"width":"14","collapse":false},{"id":"d97c9ba4.782648","type":"ui_tab","z":"","name":"Manage Data","icon":"dashboard","order":5,"disabled":false,"hidden":true}]