Section 5/5.4/flows.json
[{"id":"a2987332.4a8ce","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":1180,"wires":[]},{"id":"bcdc56fe.2ac068","type":"http request","z":"14e6182e.27ae38","name":"Face POST Identify","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/identify","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":1180,"wires":[["f138766a.9f5d58","a5c3b2de.8350f","a2987332.4a8ce"]],"info":"1-to-many identification to find the closest matches of the specific query person face from a person group or large person group.\r\n\r\nFor each face in the faceIds array, Face Identify will compute similarities between the query face and all the faces in the person group (given by personGroupId) or large person group (given by largePersonGroupId), and return candidate person(s) for that face ranked by similarity confidence. The person group/large person group should be trained to make it ready for identification. See more in PersonGroup - Train and LargePersonGroup - Train.\r\n\r\nRemarks:\r\n\r\n - The algorithm allows more than one face to be identified independently at the same request, but no more than 10 faces.\r\n - Each person in the person group/large person group could have more than one face, but no more than 248 faces.\r\n - Higher face image quality means better identification precision. Please consider high-quality faces: frontal, clear, and face size is 200x200 pixels (100 pixels between eyes) or bigger.\r\n - Number of candidates returned is restricted by maxNumOfCandidatesReturned and confidenceThreshold. If no person is identified, the returned candidates will be an empty array.\r\n - Try Face - Find Similar when you need to find similar faces from a face list/large face list instead of a person group/large person group.\r\n - The 'recognitionModel' associated with the query faces' faceIds should be the same as the 'recognitionModel' used by the target person group or large person group."},{"id":"3dfd601.80cc0a","type":"function","z":"14e6182e.27ae38","name":"msg.payload","func":"let Id = global.get(\"personGroup.Id\");\n\nmsg.payload = {\n    \"faceIds\":[msg.payload[0].faceId],\n    \"personGroupId\":Id,\n    \"maxNumOfCandidatesReturned\":10,\n    \"confidenceThreshold\":0.5\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1180,"wires":[["bcdc56fe.2ac068"]]},{"id":"bf93a75d.8c6fe8","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1180,"wires":[["3dfd601.80cc0a"]]},{"id":"7dbc5f00.1e7f9","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1180,"wires":[["bf93a75d.8c6fe8"]]},{"id":"a0dd31d8.f74d9","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1120,"wires":[["86ad456e.012a98"]]},{"id":"86ad456e.012a98","type":"usbcamera","z":"14e6182e.27ae38","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","name":"","x":350,"y":1120,"wires":[["7df09ab7.840994","6c89f0eb.245d9"]]},{"id":"7df09ab7.840994","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/octet-stream\",\"Ocp-Apim-Subscription-Key\":\"613436a7679d4f7abc88acfb06b3c46c\"}","tot":"json"},{"t":"set","p":"returnFaceId","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"recognitionModel","pt":"msg","to":"recognition_02","tot":"str"},{"t":"set","p":"returnRecognitionModel","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1120,"wires":[["773a3d19.5804a4"]]},{"id":"773a3d19.5804a4","type":"http request","z":"14e6182e.27ae38","name":"Face POST Detect","method":"POST","ret":"obj","paytoqs":false,"url":"https://westus.api.cognitive.microsoft.com/face/v1.0/detect?returnFaceId={{{returnFaceId}}}&recognitionModel={{{recognitionModel}}}&returnRecognitionModel={{{returnRecognitionModel}}}","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":1120,"wires":[["2cd9ce63.5bf8a2"]],"info":"Detect human faces in an image, return face rectangles, and optionally with faceIds, landmarks, and attributes.\r\n\r\n - No image will be stored. Only the extracted face feature(s) will be stored on server. The faceId is an identifier of the face feature and will be used in Face - Identify, Face - Verify, and Face - Find Similar. The stored face features will expire and be deleted 24 hours after the original detection call.\r\n - Optional parameters include faceId, landmarks, and attributes. Attributes include age, gender, headPose, smile, facialHair, glasses, emotion, hair, makeup, occlusion, accessories, blur, exposure and noise. Some of the results returned for specific attributes may not be highly accurate.\r\n - JPEG, PNG, GIF (the first frame), and BMP format are supported. The allowed image file size is from 1KB to 6MB.\r\n - The minimum detectable face size is 36x36 pixels in an image no larger than 1920x1080 pixels. Images with dimensions higher than 1920x1080 pixels will need a proportionally larger minimum face size.\r\n - Up to 100 faces can be returned for an image. Faces are ranked by face rectangle size from large to small.\r\n - For optimal results when querying Face - Identify, Face - Verify, and Face - Find Similar ('returnFaceId' is true), please use faces that are: frontal, clear, and with a minimum size of 200x200 pixels (100 pixels between eyes).\r\n - Different 'detectionModel' values can be provided. To use and compare different detection models, please refer to How to specify a detection model\r\n    *'detection_01': The default detection model for Face - Detect. Recommend for near frontal face detection. For scenarios with exceptionally large angle (head-pose) faces, occluded faces or wrong image orientation, the faces in such cases may not be detected.\r\n    *'detection_02': Detection model released in 2019 May with improved accuracy especially on small, side and blurry faces. Face attributes and landmarks are disabled if you choose this detection model.\r\n - Different 'recognitionModel' values are provided. If follow-up operations like Verify, Identify, Find Similar are needed, please specify the recognition model with 'recognitionModel' parameter. The default value for 'recognitionModel' is 'recognition_01', if latest model needed, please explicitly specify the model you need in this parameter. Once specified, the detected faceIds will be associated with the specified recognition model. More details, please refer to How to specify a recognition model.\r\n    *'recognition_01': The default recognition model for Face - Detect. All those faceIds created before 2019 March are bonded with this recognition model.\r\n    *'recognition_02': Recognition model released in 2019 March. 'recognition_02' is recommended since its overall accuracy is improved compared with 'recognition_01'."},{"id":"2cd9ce63.5bf8a2","type":"switch","z":"14e6182e.27ae38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":1120,"wires":[["6efbb2c8.f3247c","b6a15616.fb6628"],["bf93a75d.8c6fe8"]]},{"id":"6efbb2c8.f3247c","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":1100,"wires":[]},{"id":"6c89f0eb.245d9","type":"image","z":"14e6182e.27ae38","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":1300,"y":1000,"wires":[]},{"id":"3cbdc12.776ab3e","type":"debug","z":"14e6182e.27ae38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":960,"wires":[]},{"id":"8341c1cd.778c6","type":"change","z":"14e6182e.27ae38","name":"","rules":[{"t":"set","p":"personGroup.Id","pt":"global","to":"makerdemy","tot":"str"},{"t":"set","p":"personGroup.name","pt":"global","to":"Employees","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":960,"wires":[["3cbdc12.776ab3e"]]},{"id":"8837830a.16f","type":"inject","z":"14e6182e.27ae38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":570,"y":960,"wires":[["8341c1cd.778c6"]]}]