Section 6/6.3/APIRequestFlows.json
[{"id":"89fd10aa.4a9c","type":"debug","z":"d6846790.83b848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":480,"wires":[]},{"id":"fa74bec6.b7dfc","type":"http request","z":"d6846790.83b848","name":"Restpack HTML to PDF API","method":"POST","ret":"obj","paytoqs":false,"url":"https://restpack.io/api/html2pdf/v6/convert","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":480,"wires":[["89fd10aa.4a9c","6d18d44b.f5620c"]]},{"id":"97a3c3c8.bd04f","type":"function","z":"d6846790.83b848","name":"API call - headers and payload","func":"msg.headers = {\n    \"x-access-token\":\"X4wJEBonuCny1qD9hfVKqxKOIWDNbmdUgvmzKaZdAxaBsOxy\",\n    \"Content-Type\":\"application/json\"\n};\n\nmsg.payload = {\n    \"html\": \"<html>\"+msg.payload+\"</html>\",\n    \"json\": \"true\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["fa74bec6.b7dfc"]]}]