Section 6/6.4/flows.json
[{"id":"68eb558f.70009c","type":"cloud-vision-api","z":"d6846790.83b848","method":"annotate","annotate_body":"","annotate_bodyType":"str","annotate_type":"TEXT_DETECTION","annotate_typeType":"str","annotate_keyType":"str","name":"","x":460,"y":320,"wires":[["d9dca7cd.fd25e8","732d588d.012e88"]]},{"id":"efaf6d66.e0c15","type":"inject","z":"d6846790.83b848","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":260,"wires":[["198fe2d2.56465d"]]},{"id":"d0906645.ef1e38","type":"debug","z":"d6846790.83b848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":60,"wires":[]},{"id":"9c9f5547.a3e438","type":"debug","z":"d6846790.83b848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":100,"wires":[]},{"id":"198fe2d2.56465d","type":"file in","z":"d6846790.83b848","name":"","filename":"/data/data/com.termux/files/home/image.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":260,"wires":[["68eb558f.70009c"]]},{"id":"d9dca7cd.fd25e8","type":"debug","z":"d6846790.83b848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":320,"wires":[]},{"id":"989f04fb.1c5468","type":"ui_button","z":"d6846790.83b848","name":"","group":"7a148706.119658","order":0,"width":0,"height":0,"passthru":false,"label":"Take photo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":100,"wires":[["6608cdd.50e1634"]]},{"id":"6608cdd.50e1634","type":"exec","z":"d6846790.83b848","command":"termux-camera-photo -c 0 image.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":100,"wires":[["96a0afaa.1a0bb","d0906645.ef1e38"],["9c9f5547.a3e438"],[]]},{"id":"96a0afaa.1a0bb","type":"file in","z":"d6846790.83b848","name":"","filename":"/data/data/com.termux/files/home/image.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":160,"wires":[["27aa488.7ef8cb8"]]},{"id":"27aa488.7ef8cb8","type":"base64","z":"d6846790.83b848","name":"","action":"str","property":"payload","x":820,"y":160,"wires":[["c533e68a.004b48"]]},{"id":"c533e68a.004b48","type":"template","z":"d6846790.83b848","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"3000px\" height=\"4000px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":980,"y":160,"wires":[["1b77d8e.fb00a27"]]},{"id":"1b77d8e.fb00a27","type":"ui_template","z":"d6846790.83b848","group":"7a148706.119658","name":"","order":1,"width":"14","height":"12","format":"<div align=\"center\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1140,"y":160,"wires":[[]]},{"id":"a27b4853.433148","type":"ui_button","z":"d6846790.83b848","name":"","group":"660f0101.283c2","order":1,"width":0,"height":0,"passthru":false,"label":"Convert to Text","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":300,"wires":[["198fe2d2.56465d"]]},{"id":"e2e85f67.7a3a7","type":"ui_text","z":"d6846790.83b848","group":"660f0101.283c2","order":2,"width":"14","height":"7","name":"","label":"Text","format":"{{msg.payload}}","layout":"col-center","x":850,"y":380,"wires":[]},{"id":"da5115fc.2351e8","type":"ui_button","z":"d6846790.83b848","name":"","group":"660f0101.283c2","order":3,"width":0,"height":0,"passthru":false,"label":"Convert to PDF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":480,"wires":[["1f74e5eb.8b2d0a"]]},{"id":"1f74e5eb.8b2d0a","type":"change","z":"d6846790.83b848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["97a3c3c8.bd04f"]]},{"id":"89fd10aa.4a9c","type":"debug","z":"d6846790.83b848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":480,"wires":[]},{"id":"fa74bec6.b7dfc","type":"http request","z":"d6846790.83b848","name":"Restpack HTML to PDF API","method":"POST","ret":"obj","paytoqs":false,"url":"https://restpack.io/api/html2pdf/v6/convert","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":480,"wires":[["89fd10aa.4a9c","6d18d44b.f5620c"]]},{"id":"97a3c3c8.bd04f","type":"function","z":"d6846790.83b848","name":"API call - headers and payload","func":"msg.headers = {\n    \"x-access-token\":\"X4wJEBonuCny1qD9hfVKqxKOIWDNbmdUgvmzKaZdAxaBsOxy\",\n    \"Content-Type\":\"application/json\"\n};\n\nmsg.payload = {\n    \"html\": \"<html>\"+msg.payload+\"</html>\",\n    \"json\": \"true\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["fa74bec6.b7dfc"]]},{"id":"6d18d44b.f5620c","type":"ui_text","z":"d6846790.83b848","group":"660f0101.283c2","order":4,"width":"14","height":"2","name":"","label":"File Link","format":"{{msg.payload.file}}","layout":"col-center","x":1220,"y":520,"wires":[]},{"id":"2dcc8161.03eede","type":"http in","z":"d6846790.83b848","name":"","url":"/ga","method":"get","upload":false,"swaggerDoc":"","x":250,"y":60,"wires":[["6608cdd.50e1634"]]},{"id":"732d588d.012e88","type":"change","z":"d6846790.83b848","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["e2e85f67.7a3a7"]]},{"id":"7a148706.119658","type":"ui_group","z":"","name":"Default","tab":"9f379a2e.581ed8","disp":false,"width":"14","collapse":false},{"id":"660f0101.283c2","type":"ui_group","z":"","name":"Default1","tab":"9f379a2e.581ed8","disp":false,"width":"14","collapse":false},{"id":"9f379a2e.581ed8","type":"ui_tab","z":"","name":"Image to PDF","icon":"dashboard","disabled":false,"hidden":false}]