Section 6/6.4/TaskFlows.json
[{"id":"fb9f7b1a.e83068","type":"cloud-vision-api","z":"47814212.13592c","method":"annotate","annotate_body":"","annotate_bodyType":"str","annotate_type":"TEXT_DETECTION","annotate_typeType":"str","annotate_keyType":"str","name":"","x":480,"y":2240,"wires":[["a026387d.8a3d08","a4eda12c.3bb8a"]]},{"id":"1818b642.fa083a","type":"inject","z":"47814212.13592c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2180,"wires":[["525f3c70.063e54"]]},{"id":"a91f3a95.87ecd8","type":"debug","z":"47814212.13592c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":1980,"wires":[]},{"id":"ccec7afc.0a7088","type":"debug","z":"47814212.13592c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":2020,"wires":[]},{"id":"525f3c70.063e54","type":"file in","z":"47814212.13592c","name":"","filename":"/data/data/com.termux/files/home/image.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":570,"y":2180,"wires":[["fb9f7b1a.e83068"]]},{"id":"a026387d.8a3d08","type":"debug","z":"47814212.13592c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":2240,"wires":[]},{"id":"99b244d7.fcc158","type":"ui_button","z":"47814212.13592c","name":"","group":"bfa4351d.f9c1b8","order":0,"width":0,"height":0,"passthru":false,"label":"Take photo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":2020,"wires":[["b17bb112.2e26f"]]},{"id":"b17bb112.2e26f","type":"exec","z":"47814212.13592c","command":"termux-camera-photo -c 0 image.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":2020,"wires":[["616edc93.ed0b54","a91f3a95.87ecd8"],["ccec7afc.0a7088"],[]]},{"id":"616edc93.ed0b54","type":"file in","z":"47814212.13592c","name":"","filename":"/data/data/com.termux/files/home/image.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":570,"y":2080,"wires":[["fd5a165a.a0cd78"]]},{"id":"fd5a165a.a0cd78","type":"base64","z":"47814212.13592c","name":"","action":"str","property":"payload","x":840,"y":2080,"wires":[["7cd553c2.46d8fc"]]},{"id":"7cd553c2.46d8fc","type":"template","z":"47814212.13592c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"3000px\" height=\"4000px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":1000,"y":2080,"wires":[["12c17b27.8a3b45","e685b355.e325b"]]},{"id":"12c17b27.8a3b45","type":"ui_template","z":"47814212.13592c","group":"bfa4351d.f9c1b8","name":"","order":1,"width":"14","height":"12","format":"<div align=\"center\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1160,"y":2080,"wires":[[]]},{"id":"b0aa63bd.cc4e4","type":"ui_button","z":"47814212.13592c","name":"","group":"b460663a.3e46c8","order":1,"width":0,"height":0,"passthru":false,"label":"Convert to Text","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":2220,"wires":[["525f3c70.063e54"]]},{"id":"db56760.aea8488","type":"ui_text","z":"47814212.13592c","group":"b460663a.3e46c8","order":2,"width":"14","height":"7","name":"","label":"Text","format":"{{msg.payload}}","layout":"col-center","x":870,"y":2300,"wires":[]},{"id":"7b5abf8d.1071","type":"ui_button","z":"47814212.13592c","name":"","group":"b460663a.3e46c8","order":3,"width":0,"height":0,"passthru":false,"label":"Convert to PDF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":2400,"wires":[["8e9f11f1.53458"]]},{"id":"8e9f11f1.53458","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2400,"wires":[["fb12d05a.3d6c4"]]},{"id":"c4938e62.e8222","type":"debug","z":"47814212.13592c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":2400,"wires":[]},{"id":"129d0ab2.10c315","type":"http request","z":"47814212.13592c","name":"Restpack HTML to PDF API","method":"POST","ret":"obj","paytoqs":false,"url":"https://restpack.io/api/html2pdf/v6/convert","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":2400,"wires":[["c4938e62.e8222","6b047f05.ac9da"]]},{"id":"fb12d05a.3d6c4","type":"function","z":"47814212.13592c","name":"API call - headers and payload","func":"msg.headers = {\n    \"x-access-token\":\"X4wJEBonuCny1qD9hfVKqxKOIWDNbmdUgvmzKaZdAxaBsOxy\",\n    \"Content-Type\":\"application/json\"\n};\n\nmsg.payload = {\n    \"html\": \"<html>\"+msg.payload+\"</html>\",\n    \"json\": \"true\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2400,"wires":[["129d0ab2.10c315"]]},{"id":"6b047f05.ac9da","type":"ui_text","z":"47814212.13592c","group":"b460663a.3e46c8","order":4,"width":"14","height":"2","name":"","label":"File Link","format":"{{msg.payload.file}}","layout":"col-center","x":1240,"y":2440,"wires":[]},{"id":"5a199594.c4cc1c","type":"http in","z":"47814212.13592c","name":"","url":"/ga","method":"get","upload":false,"swaggerDoc":"","x":270,"y":1980,"wires":[["b17bb112.2e26f"]]},{"id":"a4eda12c.3bb8a","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2300,"wires":[["db56760.aea8488","211f9663.aea5fa"]]},{"id":"e685b355.e325b","type":"delay","z":"47814212.13592c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":2140,"wires":[["525f3c70.063e54"]]},{"id":"211f9663.aea5fa","type":"delay","z":"47814212.13592c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":2360,"wires":[["8e9f11f1.53458"]]},{"id":"bfa4351d.f9c1b8","type":"ui_group","z":"","name":"Default","tab":"c28ec192.d2a03","disp":false,"width":"14","collapse":false},{"id":"b460663a.3e46c8","type":"ui_group","z":"","name":"Default1","tab":"c28ec192.d2a03","disp":false,"width":"14","collapse":false},{"id":"c28ec192.d2a03","type":"ui_tab","z":"","name":"Image to PDF","icon":"dashboard","disabled":false,"hidden":false}]