Section 4/4.4/flows.json
[{"id":"a8312f73.64e9d","type":"mqtt in","z":"ea752372.8c17e8","name":"","topic":"testTopic/PublishNR","qos":"0","datatype":"auto","broker":"b7f2a952.507338","x":240,"y":140,"wires":[["928469d.1561298"]]},{"id":"928469d.1561298","type":"json","z":"ea752372.8c17e8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":140,"wires":[["ccc25e67.8a45f","59cc9721.7f78d8"]]},{"id":"ccc25e67.8a45f","type":"debug","z":"ea752372.8c17e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":200,"wires":[]},{"id":"b7f2a952.507338","type":"mqtt-broker","z":"","name":"AWS IoT","broker":"a1o3ahlx26dmp9-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"d39d71cb.284c5","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d39d71cb.284c5","type":"tls-config","z":"","name":"AWS IoT","cert":"","key":"","ca":"","certname":"33e31a3291-certificate.pem.crt","keyname":"33e31a3291-private.pem.key","caname":"rootca.crt","servername":"","verifyservercert":true}]