Section 3/3.5/flows.json
[{"id":"a54289ce.0fe428","type":"inject","z":"47814212.13592c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1800,"wires":[["cf54f49e.78db48","fb1068a6.ca6d48"]]},{"id":"cf54f49e.78db48","type":"usbcamera","z":"47814212.13592c","filemode":"0","filename":"image.png","filedefpath":"1","filepath":"/home/pi/.node-red/Pictures","fileformat":"png","resolution":"2","name":"","x":370,"y":1800,"wires":[["c8f70745.f9a748","e3f049c8.c38398"]]},{"id":"c8f70745.f9a748","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{\"classifier_ids\":\"RPSModelv1_1070554864\",\"threshold\":\"0.6\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1800,"wires":[["8508e95c.9a5be8"]]},{"id":"e3f049c8.c38398","type":"image","z":"47814212.13592c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":560,"y":1760,"wires":[]},{"id":"8508e95c.9a5be8","type":"visual-recognition-v3","z":"47814212.13592c","name":"Classify R-P-S","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":760,"y":1800,"wires":[["ecf83714.145178"]]},{"id":"ecf83714.145178","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"fileformat","pt":"msg"},{"t":"delete","p":"filepath","pt":"msg"},{"t":"delete","p":"params","pt":"msg"},{"t":"delete","p":"result","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"P","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1800,"wires":[["2be5eb57.a32234","6c7a180b.a96ae8"]]},{"id":"6c7a180b.a96ae8","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":1760,"wires":[]},{"id":"2be5eb57.a32234","type":"switch","z":"47814212.13592c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Empty","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1920,"wires":[["ee34bd53.68a6d"],["3419912b.2da9fe"]]},{"id":"ee34bd53.68a6d","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Try again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1900,"wires":[["46463f07.e7d16"]]},{"id":"46463f07.e7d16","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":1900,"wires":[]},{"id":"fb1068a6.ca6d48","type":"random","z":"47814212.13592c","name":"","low":"1","high":"30","inte":"true","property":"payload","x":200,"y":2000,"wires":[["ada13c22.40c8e"]]},{"id":"ada13c22.40c8e","type":"switch","z":"47814212.13592c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"11","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":2000,"wires":[["1684ee81.549df1"],["2486fb40.226114"],["85afdb6f.d5ffd8"]]},{"id":"1684ee81.549df1","type":"change","z":"47814212.13592c","name":"Rock","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rock","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"NR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1960,"wires":[["3419912b.2da9fe"]]},{"id":"2486fb40.226114","type":"change","z":"47814212.13592c","name":"Paper","rules":[{"t":"set","p":"payload","pt":"msg","to":"Paper","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"NR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2000,"wires":[["3419912b.2da9fe"]]},{"id":"85afdb6f.d5ffd8","type":"change","z":"47814212.13592c","name":"Scissors","rules":[{"t":"set","p":"payload","pt":"msg","to":"Scissors","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"NR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2040,"wires":[["3419912b.2da9fe"]]},{"id":"3419912b.2da9fe","type":"join","z":"47814212.13592c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":2000,"wires":[["87ddf26d.4fe4","3c51d8bf.d82d78"]]},{"id":"87ddf26d.4fe4","type":"function","z":"47814212.13592c","name":"Compare","func":"if (msg.payload.NR == msg.payload.P){\n    msg.payload = \"This match is a tie!\";\n}else if(msg.payload.NR == \"Rock\" ){\n    if(msg.payload.P == \"Paper\"){\n        msg.payload = \"N:R;P:P|Player wins!!!\";\n    }\n    if(msg.payload.P == \"Scissors\"){\n        msg.payload = \"N:R;P:S|Node-RED wins!!!\";\n    }\n}else if(msg.payload.NR == \"Paper\" ){\n    if(msg.payload.P == \"Rock\"){\n        msg.payload = \"N:P;P:R|Node-RED wins!!!\";\n    }\n    if(msg.payload.P == \"Scissors\"){\n        msg.payload = \"N:P;P:S|Player wins!!!\";\n    }\n}else if(msg.payload.NR == \"Scissors\" ){\n    if(msg.payload.P == \"Rock\"){\n        msg.payload = \"N:S;P:R|Player wins!!!\";\n    }\n    if(msg.payload.P == \"Paper\"){\n        msg.payload = \"N:S;P:P|Node-RED wins!!!\";\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":2000,"wires":[["e40624af.a03628"]]},{"id":"e40624af.a03628","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":2000,"wires":[]},{"id":"3c51d8bf.d82d78","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":1960,"wires":[]}]