Section 3/3.5/flows.json
[{"id":"f6f66a31.b7f098","type":"inject","z":"850f4d11.dad7b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["2448c086.0137d","b56ac8cf.f2ab68"]]},{"id":"2448c086.0137d","type":"usbcamera","z":"850f4d11.dad7b","filemode":"0","filename":"image.png","filedefpath":"1","filepath":"/home/pi/.node-red/Pictures","fileformat":"png","resolution":"2","name":"","x":310,"y":440,"wires":[["ca69ae2e.dfa5","eab3f590.bb2a98"]]},{"id":"ca69ae2e.dfa5","type":"change","z":"850f4d11.dad7b","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{\"classifier_ids\":\"RPSModelv1_1070554864\",\"threshold\":\"0.6\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":440,"wires":[["acb39dbd.f8504"]]},{"id":"eab3f590.bb2a98","type":"image","z":"850f4d11.dad7b","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":500,"y":400,"wires":[]},{"id":"acb39dbd.f8504","type":"visual-recognition-v3","z":"850f4d11.dad7b","name":"Classify R-P-S","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":700,"y":440,"wires":[["8f37357a.5aeaf8","dc6981d9.3f507","fc84f4a9.458768"]]},{"id":"8f37357a.5aeaf8","type":"change","z":"850f4d11.dad7b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":440,"wires":[["43250370.dbda2c","65a996ad.ed8a78"]]},{"id":"65a996ad.ed8a78","type":"debug","z":"850f4d11.dad7b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":400,"wires":[]},{"id":"43250370.dbda2c","type":"switch","z":"850f4d11.dad7b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Empty","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":560,"wires":[["751f0309.88a52c"],["741d3421.40ca4c"]]},{"id":"751f0309.88a52c","type":"change","z":"850f4d11.dad7b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Try again!","tot":"str"},{"t":"set","p":"result","pt":"msg","to":"Try again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":540,"wires":[["b2449afc.fb5138"]]},{"id":"b2449afc.fb5138","type":"debug","z":"850f4d11.dad7b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":540,"wires":[]},{"id":"b56ac8cf.f2ab68","type":"random","z":"850f4d11.dad7b","name":"","low":"1","high":"30","inte":"true","property":"payload","x":140,"y":640,"wires":[["af7125da.2bdc58"]]},{"id":"af7125da.2bdc58","type":"switch","z":"850f4d11.dad7b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"11","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":640,"wires":[["bad46541.e43678"],["23987c6d.56d394"],["47df09bd.ded968"]]},{"id":"bad46541.e43678","type":"change","z":"850f4d11.dad7b","name":"Rock","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rock","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":600,"wires":[["741d3421.40ca4c","d156242b.fc3758"]]},{"id":"23987c6d.56d394","type":"change","z":"850f4d11.dad7b","name":"Paper","rules":[{"t":"set","p":"payload","pt":"msg","to":"Paper","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[["741d3421.40ca4c","d156242b.fc3758"]]},{"id":"47df09bd.ded968","type":"change","z":"850f4d11.dad7b","name":"Scissors","rules":[{"t":"set","p":"payload","pt":"msg","to":"Scissors","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":680,"wires":[["741d3421.40ca4c","d156242b.fc3758"]]},{"id":"741d3421.40ca4c","type":"join","z":"850f4d11.dad7b","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":640,"wires":[["32bca3ec.9bf6ac","2135c95d.3ea616"]]},{"id":"32bca3ec.9bf6ac","type":"function","z":"850f4d11.dad7b","name":"Compare","func":"if (msg.payload[0] == msg.payload[1]){\n    msg.result = 2;\n}else if(msg.payload[0] == \"Rock\" ){\n    if(msg.payload[1] == \"Paper\"){\n        msg.result = 1;\n    }\n    if(msg.payload[1] == \"Scissors\"){\n        msg.result = 0;\n    }\n}else if(msg.payload[0] == \"Paper\" ){\n    if(msg.payload[1] == \"Rock\"){\n        msg.result = 0;\n    }\n    if(msg.payload[1] == \"Scissors\"){\n        msg.result = 1;\n    }\n}else if(msg.payload[0] == \"Scissors\" ){\n    if(msg.payload[1] == \"Rock\"){\n        msg.result = 1;\n    }\n    if(msg.payload[1] == \"Paper\"){\n        msg.result = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":640,"wires":[["f60c2363.69349","b5925380.81336","f0a4232d.e56c1","ecdfbda9.26958","afd9c318.38cf9","e61a1b4c.d64f28","bdb70087.54352"]]},{"id":"f60c2363.69349","type":"debug","z":"850f4d11.dad7b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":640,"wires":[]},{"id":"2135c95d.3ea616","type":"debug","z":"850f4d11.dad7b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":600,"wires":[]}]