Section 5/5.2/flows.json
[{"id":"125e8e1d.5dcea2","type":"change","z":"850f4d11.dad7b","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{\"classifier_ids\":\"RPSModelv1_1070554864\",\"threshold\":\"0.6\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["e00945ca.dbfcf8"]]},{"id":"1709ca59.2ca2f6","type":"inject","z":"850f4d11.dad7b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["4db10376.163dac"]]},{"id":"e00945ca.dbfcf8","type":"visual-recognition-v3","z":"850f4d11.dad7b","name":"Classify R-P-S","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":740,"y":300,"wires":[["569c5d9f.d35804","c5ba3879.699548"]]},{"id":"4db10376.163dac","type":"usbcamera","z":"850f4d11.dad7b","filemode":"0","filename":"image.png","filedefpath":"1","filepath":"/home/pi/.node-red/Pictures","fileformat":"png","resolution":"2","name":"","x":350,"y":300,"wires":[["125e8e1d.5dcea2"]]},{"id":"569c5d9f.d35804","type":"debug","z":"850f4d11.dad7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":260,"wires":[]},{"id":"c5ba3879.699548","type":"image","z":"850f4d11.dad7b","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":940,"y":300,"wires":[]}]