Section 4/4.8/flows.json
[{"id":"38194eae.e1c702","type":"http in","z":"414fdbe8.19ab14","name":"","url":"/slack","method":"post","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["16a17f0d.c52151","a8d59884.409ec8","c4be177f.1f4268"]]},{"id":"a8d59884.409ec8","type":"http response","z":"414fdbe8.19ab14","name":"","statusCode":"","headers":{},"x":810,"y":80,"wires":[]},{"id":"16a17f0d.c52151","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":150,"y":140,"wires":[]},{"id":"c4be177f.1f4268","type":"change","z":"414fdbe8.19ab14","name":"Separate text","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["47ff8b00.72f8d4","4e80d4e.63b042c"]]},{"id":"47ff8b00.72f8d4","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":140,"wires":[]},{"id":"4e80d4e.63b042c","type":"aws-lex","z":"414fdbe8.19ab14","name":"AWS Lex","token":"4248f3a.e53460c","botname":"Donna","botalias":"DonnaNR","action":"postText","input":"payload","inputType":"msg","output":"payload","content":"","contentType":"text/plain; charset=utf-8","userid":"Ajfbheyd2312","useridType":"str","sessionA":"","sessionAType":"str","requestA":"","requestAType":"str","x":280,"y":260,"wires":[["2a2bc32e.f7b2ec","49c3c713.883988"]]},{"id":"daaf5417.0c80e8","type":"inject","z":"414fdbe8.19ab14","name":"","topic":"","payload":"I would like to take leave on friday","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["4e80d4e.63b042c"]]},{"id":"2a2bc32e.f7b2ec","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":360,"wires":[]},{"id":"49c3c713.883988","type":"switch","z":"414fdbe8.19ab14","name":"Check Intent","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"ElicitIntent","vt":"str"},{"t":"eq","v":"AskLeaveIntent","vt":"str"},{"t":"eq","v":"AskLeaveMultipleDaysIntent","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":260,"wires":[["5364a315.f37f4c"],["b30074ae.af4fe8"],["b30074ae.af4fe8"]]},{"id":"b30074ae.af4fe8","type":"function","z":"414fdbe8.19ab14","name":"Check difference in hours","func":"if(msg.payload.intent == \"AskLeaveIntent\"){\n    msg.date = msg.payload.entities.leaveDate;\n}else{\n    msg.date = msg.payload.entities.sLeaveDate;\n}\n\nvar dt1 = new Date();\nvar dt2 = msg.date.split(\"-\");\ndt2 = dt2[1]+\"/\"+dt2[2]+\"/\"+dt2[0];\ndt2 = new Date(dt2);\nmsg.day = dt2.getDay();\n\nfunction diff(dt2, dt1){\n    var diff = (dt2.getTime() - dt1.getTime()) / 1000;\n    diff = diff / 3600;\n    return Math.abs(Math.round(diff));\n}\n\nmsg.result = diff(dt2,dt1);\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["2005b64f.a7f8fa"]]},{"id":"2005b64f.a7f8fa","type":"switch","z":"414fdbe8.19ab14","name":"{M,T,W} OR {Th,F}","property":"day","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"3","v2t":"num"},{"t":"btwn","v":"4","vt":"num","v2":"5","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":340,"wires":[["470fd6f9.d4b3c8"],["e029ef35.b578"]]},{"id":"470fd6f9.d4b3c8","type":"switch","z":"414fdbe8.19ab14","name":"Check if the request was asked 96 hrs ago","property":"result","propertyType":"msg","rules":[{"t":"gt","v":"96","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":400,"wires":[["d1a10f43.2e1c9","86e35808.fbda48"],["fb58820.8c5128","20351563.34bf2a"]]},{"id":"e029ef35.b578","type":"switch","z":"414fdbe8.19ab14","name":"Check if the request was asked 48 hrs ago","property":"result","propertyType":"msg","rules":[{"t":"gt","v":"48","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":440,"wires":[["d1a10f43.2e1c9","89285779.48bac8"],["fb58820.8c5128","1982f5ca.d1ef2a"]]},{"id":"5364a315.f37f4c","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":220,"wires":[]},{"id":"86e35808.fbda48","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":340,"wires":[]},{"id":"20351563.34bf2a","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":380,"wires":[]},{"id":"89285779.48bac8","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":420,"wires":[]},{"id":"1982f5ca.d1ef2a","type":"debug","z":"414fdbe8.19ab14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":460,"wires":[]},{"id":"4248f3a.e53460c","type":"aws-config","z":"","name":"DonnaNR"}]