Section 4/4.10/flows.json
[{"id":"f63dab80.2bf2c8","type":"GSheet","z":"821b4b95.a0b7c8","creds":"e4e677d3.ebebf8","method":"get","action":"","sheet":"1sFoQm_qOcfmH9PvszyDKx4wx3M6Xpq-SZ3cmswhKs20","cells":"Sheet1!A:A","name":"row-checker","x":390,"y":1100,"wires":[["10af115e.3469ff"]]},{"id":"48306943.7ba7b8","type":"inject","z":"821b4b95.a0b7c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":1060,"wires":[["f63dab80.2bf2c8"]]},{"id":"10af115e.3469ff","type":"function","z":"821b4b95.a0b7c8","name":"length_delta","func":"msg.length_delta = msg.payload.length - global.row_count;\nglobal.row_count = msg.payload.length;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1100,"wires":[["a878c3e2.26b6a"]]},{"id":"a878c3e2.26b6a","type":"switch","z":"821b4b95.a0b7c8","name":"count_check","property":"length_delta","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1100,"wires":[["cd5af2eb.4d9d3"],["5e45dc77.7179d4"]]},{"id":"cd5af2eb.4d9d3","type":"function","z":"821b4b95.a0b7c8","name":"Adding new row...","func":"for(i = msg.length_delta; i>=1; --i){\n    msg.text = 'New row added with name: ' + msg.payload[msg.payload.length-i] + '\\n';\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1060,"wires":[["8c7c7e3f.39b5f"]]},{"id":"5e45dc77.7179d4","type":"function","z":"821b4b95.a0b7c8","name":"Dropping a row...","func":"msg.text = -1*msg.length_delta + ' row(s) where removed';\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1140,"wires":[["8c7c7e3f.39b5f"]]},{"id":"8c7c7e3f.39b5f","type":"link out","z":"821b4b95.a0b7c8","name":"","links":["6f75faa.9632504"],"x":1135,"y":1100,"wires":[]},{"id":"6f75faa.9632504","type":"link in","z":"821b4b95.a0b7c8","name":"","links":["8c7c7e3f.39b5f"],"x":200,"y":1240,"wires":[["8183b616.9021c8"]]},{"id":"8183b616.9021c8","type":"change","z":"821b4b95.a0b7c8","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/x-www-form-urlencoded; charset=utf-8\",\"Authorization\":\"Bearer xoxb-666559250053-941752498359-R9pbnWEzNSlYim5SMsdwptB3\"}","tot":"json"},{"t":"set","p":"token","pt":"msg","to":"xoxb-666559250053-941752498359-R9pbnWEzNSlYim5SMsdwptB3","tot":"str"},{"t":"set","p":"channel","pt":"msg","to":"CTZ2HTG1F","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1260,"wires":[["4e72d392.be808c"]]},{"id":"4e72d392.be808c","type":"http request","z":"821b4b95.a0b7c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://slack.com/api/chat.postMessage?token={{{token}}}&channel={{{channel}}}&text={{{text}}}","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":1280,"wires":[["983368af.eca218"]]},{"id":"983368af.eca218","type":"debug","z":"821b4b95.a0b7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":1300,"wires":[]},{"id":"e4e677d3.ebebf8","type":"gauth","z":""}]