Section 4/4.7/flows.json
[{"id":"2f900a0d.ee5196","type":"http in","z":"b08faadd.42c4b8","name":"","url":"/slack","method":"post","upload":false,"swaggerDoc":"","x":370,"y":1140,"wires":[["aef15656.3aa8b8","ab95d378.e80be","c0f75d8b.66bd1"]]},{"id":"ab95d378.e80be","type":"http response","z":"b08faadd.42c4b8","name":"","statusCode":"","headers":{},"x":1030,"y":1140,"wires":[]},{"id":"aef15656.3aa8b8","type":"debug","z":"b08faadd.42c4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":1200,"wires":[]},{"id":"c0f75d8b.66bd1","type":"change","z":"b08faadd.42c4b8","name":"Separate text","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1200,"wires":[["e605fb10.2189f8"]]},{"id":"e605fb10.2189f8","type":"debug","z":"b08faadd.42c4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1200,"wires":[]},{"id":"e45e2185.74ca9","type":"aws-lex","z":"b08faadd.42c4b8","name":"AWS Lex","token":"384c024d.1e44be","botname":"Donna","botalias":"DonnaNR","action":"postText","input":"payload","inputType":"msg","output":"payload","content":"","contentType":"text/plain; charset=utf-8","userid":"Ajfbheyd2312","useridType":"str","sessionA":"","sessionAType":"str","requestA":"","requestAType":"str","x":500,"y":1320,"wires":[["5db07d0c.b989c4"]]},{"id":"3fe5ac7c.3d0a44","type":"inject","z":"b08faadd.42c4b8","name":"","topic":"","payload":"I would like to take leave on friday","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":1420,"wires":[["e45e2185.74ca9"]]},{"id":"5db07d0c.b989c4","type":"debug","z":"b08faadd.42c4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":1420,"wires":[]},{"id":"384c024d.1e44be","type":"aws-config","z":"","name":"DonnaNR"}]