Section 3/3.7/flows.json
[{"id":"81cda898.5a1f28","type":"inject","z":"47814212.13592c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["3affbc5d.f29df4","937e82ab.5baa7"]]},{"id":"3affbc5d.f29df4","type":"usbcamera","z":"47814212.13592c","filemode":"0","filename":"image.png","filedefpath":"1","filepath":"/home/pi/.node-red/Pictures","fileformat":"png","resolution":"2","name":"","x":330,"y":140,"wires":[["26ce913c.d2e22e","14d6ba12.ba5c06","d6bd6f30.b4e59"]]},{"id":"26ce913c.d2e22e","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{\"classifier_ids\":\"RPSModelv1_1070554864\",\"threshold\":\"0.6\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["6198aca7.9fa454"]]},{"id":"14d6ba12.ba5c06","type":"image","z":"47814212.13592c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":520,"y":100,"wires":[]},{"id":"6198aca7.9fa454","type":"visual-recognition-v3","z":"47814212.13592c","name":"Classify R-P-S","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":720,"y":140,"wires":[["7d343c11.76ebf4"]]},{"id":"7d343c11.76ebf4","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"fileformat","pt":"msg"},{"t":"delete","p":"filepath","pt":"msg"},{"t":"delete","p":"params","pt":"msg"},{"t":"delete","p":"result","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"P","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":140,"wires":[["ccef1d06.bfee","329d685d.314fd8"]]},{"id":"329d685d.314fd8","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":100,"wires":[]},{"id":"ccef1d06.bfee","type":"switch","z":"47814212.13592c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Empty","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":260,"wires":[["40165f5.e2ddda"],["39135cff.db9b24"]]},{"id":"40165f5.e2ddda","type":"change","z":"47814212.13592c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Try again!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":240,"wires":[["c2081016.0a111"]]},{"id":"c2081016.0a111","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":240,"wires":[]},{"id":"937e82ab.5baa7","type":"random","z":"47814212.13592c","name":"","low":"1","high":"30","inte":"true","property":"payload","x":160,"y":340,"wires":[["88afab4.eff6258"]]},{"id":"88afab4.eff6258","type":"switch","z":"47814212.13592c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"11","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":340,"wires":[["93ea4610.a8fd98"],["38288747.58c458"],["7eb1afab.67c47"]]},{"id":"93ea4610.a8fd98","type":"change","z":"47814212.13592c","name":"Rock","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rock","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"NR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["39135cff.db9b24"]]},{"id":"38288747.58c458","type":"change","z":"47814212.13592c","name":"Paper","rules":[{"t":"set","p":"payload","pt":"msg","to":"Paper","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"NR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["39135cff.db9b24"]]},{"id":"7eb1afab.67c47","type":"change","z":"47814212.13592c","name":"Scissors","rules":[{"t":"set","p":"payload","pt":"msg","to":"Scissors","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"NR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["39135cff.db9b24"]]},{"id":"39135cff.db9b24","type":"join","z":"47814212.13592c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":340,"wires":[["bf5535f2.3075b8","61f304b9.14affc"]]},{"id":"bf5535f2.3075b8","type":"function","z":"47814212.13592c","name":"Compare","func":"if (msg.payload.NR == msg.payload.P){\n    msg.payload = \"This match is a tie!\";\n    msg.result = 2;\n}else if(msg.payload.NR == \"Rock\" ){\n    if(msg.payload.P == \"Paper\"){\n        msg.payload = \"N:R;P:P|Player wins!!!\";\n        msg.result = 1;\n    }\n    if(msg.payload.P == \"Scissors\"){\n        msg.payload = \"N:R;P:S|Node-RED wins!!!\";\n        msg.result = 0;\n    }\n}else if(msg.payload.NR == \"Paper\" ){\n    if(msg.payload.P == \"Rock\"){\n        msg.payload = \"N:P;P:R|Node-RED wins!!!\";\n        msg.result = 0;\n    }\n    if(msg.payload.P == \"Scissors\"){\n        msg.payload = \"N:P;P:S|Player wins!!!\";\n        msg.result = 1;\n    }\n}else if(msg.payload.NR == \"Scissors\" ){\n    if(msg.payload.P == \"Rock\"){\n        msg.payload = \"N:S;P:R|Player wins!!!\";\n        msg.result = 1;\n    }\n    if(msg.payload.P == \"Paper\"){\n        msg.payload = \"N:S;P:P|Node-RED wins!!!\";\n        msg.result = 0;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":340,"wires":[["829d7e0a.340a9","7b288bfa.c954a4","1db68efa.e32631","ebef383a.0d3de8","5612d2fa.2ba64c","e2e0aebe.57547","9eacb455.1e77e8"]]},{"id":"829d7e0a.340a9","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":340,"wires":[]},{"id":"61f304b9.14affc","type":"debug","z":"47814212.13592c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":380,"wires":[]},{"id":"b07f7da6.a5c92","type":"ui_button","z":"47814212.13592c","name":"","group":"9b9ac84.f43ce38","order":6,"width":0,"height":0,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"true","payloadType":"bool","topic":"","x":130,"y":180,"wires":[["3affbc5d.f29df4","937e82ab.5baa7"]]},{"id":"d6bd6f30.b4e59","type":"base64","z":"47814212.13592c","name":"","action":"str","property":"payload","x":320,"y":180,"wires":[["3e7ec05c.08a48"]]},{"id":"3e7ec05c.08a48","type":"template","z":"47814212.13592c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":320,"y":220,"wires":[["cb328248.178"]]},{"id":"cb328248.178","type":"ui_template","z":"47814212.13592c","group":"9b9ac84.f43ce38","name":"Last played image","order":1,"width":"7","height":"5","format":"<div align=\"center\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":220,"wires":[[]]},{"id":"4463654d.56cd8c","type":"inject","z":"47814212.13592c","name":"CREATE","topic":"CREATE TABLE RPS(ID INTEGER PRIMARY KEY AUTOINCREMENT, NodeRED TEXT, Player TEXT, Result INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["ce71d985.04b828"]]},{"id":"487b2fd6.3697b","type":"debug","z":"47814212.13592c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":500,"wires":[]},{"id":"ce71d985.04b828","type":"sqlite","z":"47814212.13592c","mydb":"88e9ffd1.85592","sqlquery":"msg.topic","sql":"","name":"","x":170,"y":500,"wires":[["487b2fd6.3697b"]]},{"id":"7b288bfa.c954a4","type":"function","z":"47814212.13592c","name":"Insert query","func":"msg = { \"topic\": \"INSERT INTO RPS (NodeRED, Player, Result) VALUES (\\\"\"+msg.payload[0]+\"\\\", \\\"\"+msg.payload[1]+\"\\\", \"+msg.result+\")\"};\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["38a3011c.bb709e"]]},{"id":"38a3011c.bb709e","type":"sqlite","z":"47814212.13592c","mydb":"88e9ffd1.85592","sqlquery":"msg.topic","sql":"","name":"","x":910,"y":460,"wires":[[]]},{"id":"1ec5261c.86eb7a","type":"sqlite","z":"47814212.13592c","mydb":"88e9ffd1.85592","sqlquery":"msg.topic","sql":"","name":"","x":910,"y":500,"wires":[["2ae47640.00941a","978f6f47.c4bb8","22d3c940.4e49d6"]]},{"id":"2ae47640.00941a","type":"ui_text","z":"47814212.13592c","group":"9b9ac84.f43ce38","order":2,"width":"3","height":"1","name":"","label":"Node-RED","format":"{{msg.payload[0].NodeRED}}","layout":"col-center","x":1090,"y":500,"wires":[]},{"id":"978f6f47.c4bb8","type":"ui_text","z":"47814212.13592c","group":"9b9ac84.f43ce38","order":4,"width":"3","height":"1","name":"","label":"Player","format":"{{msg.payload[0].Player}}","layout":"col-center","x":1070,"y":540,"wires":[]},{"id":"22d3c940.4e49d6","type":"function","z":"47814212.13592c","name":"Result","func":"if(msg.payload[0].Result === 0){\n    msg.result = \"Node-RED wins!!!\";\n} else if(msg.payload[0].Result === 1){\n    msg.result = \"Player wins!!!\";\n} else if(msg.payload[0].Result === 2){\n    msg.result = \"Draw!\";\n} else if(msg.payload[0].Result === undefined){\n    msg.result = \"-\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":580,"wires":[["426519ef.316548"]]},{"id":"426519ef.316548","type":"ui_text","z":"47814212.13592c","group":"9b9ac84.f43ce38","order":5,"width":"0","height":"0","name":"","label":"Result:  ","format":"{{msg.result}}","layout":"row-center","x":1190,"y":580,"wires":[]},{"id":"1db68efa.e32631","type":"change","z":"47814212.13592c","name":"Select last row last play","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM RPS ORDER BY ID DESC LIMIT 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":500,"wires":[["1ec5261c.86eb7a"]]},{"id":"ebef383a.0d3de8","type":"change","z":"47814212.13592c","name":"Select table","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM RPS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":620,"wires":[["88acffaa.adf7e"]]},{"id":"5612d2fa.2ba64c","type":"change","z":"47814212.13592c","name":"Count 0","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT COUNT(Result)  FROM RPS WHERE Result = 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":660,"wires":[["9b7d89f1.8f1d78"]]},{"id":"e2e0aebe.57547","type":"change","z":"47814212.13592c","name":"Count 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT COUNT(Result)  FROM RPS WHERE Result = 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":700,"wires":[["1033f408.b4e32c"]]},{"id":"9eacb455.1e77e8","type":"change","z":"47814212.13592c","name":"Count 2","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT COUNT(Result)  FROM RPS WHERE Result = 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":740,"wires":[["5423d5bf.87b7fc"]]},{"id":"a5d6fd9e.f4a19","type":"ui_template","z":"47814212.13592c","group":"e59780c9.a98ea","name":"Table - History","order":1,"width":"8","height":"7","format":"<table border=\"1\" style=\"width:100%\">\n  <tr>\n    <th>Node-RED</th> \n    <th>Player</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{msg.payload[$index].NodeRED}}</td>\n    <td>{{msg.payload[$index].Player}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1100,"y":620,"wires":[[]]},{"id":"8c183467.dbdcc8","type":"ui_text","z":"47814212.13592c","group":"e59780c9.a98ea","order":2,"width":"3","height":"1","name":"Node-RED - History","label":"Node-RED","format":"{{msg.payload[0][\"COUNT(Result)\"]}}","layout":"col-center","x":1120,"y":660,"wires":[]},{"id":"27ee521d.192fee","type":"ui_text","z":"47814212.13592c","group":"e59780c9.a98ea","order":3,"width":"2","height":"1","name":"Ties - History","label":"Ties","format":"{{msg.payload[0][\"COUNT(Result)\"]}}","layout":"col-center","x":1090,"y":740,"wires":[]},{"id":"a4aa2e1f.1390f","type":"ui_text","z":"47814212.13592c","group":"e59780c9.a98ea","order":4,"width":"3","height":"1","name":"Player - History","label":"Player","format":"{{msg.payload[0][\"COUNT(Result)\"]}}","layout":"col-center","x":1100,"y":700,"wires":[]},{"id":"88acffaa.adf7e","type":"sqlite","z":"47814212.13592c","mydb":"88e9ffd1.85592","sqlquery":"msg.topic","sql":"","name":"","x":910,"y":620,"wires":[["a5d6fd9e.f4a19"]]},{"id":"9b7d89f1.8f1d78","type":"sqlite","z":"47814212.13592c","mydb":"88e9ffd1.85592","sqlquery":"msg.topic","sql":"","name":"","x":910,"y":660,"wires":[["8c183467.dbdcc8"]]},{"id":"1033f408.b4e32c","type":"sqlite","z":"47814212.13592c","mydb":"88e9ffd1.85592","sqlquery":"msg.topic","sql":"","name":"","x":910,"y":700,"wires":[["a4aa2e1f.1390f"]]},{"id":"5423d5bf.87b7fc","type":"sqlite","z":"47814212.13592c","mydb":"88e9ffd1.85592","sqlquery":"msg.topic","sql":"","name":"","x":910,"y":740,"wires":[["27ee521d.192fee"]]},{"id":"883288ee.655788","type":"ui_button","z":"47814212.13592c","name":"","group":"e59780c9.a98ea","order":5,"width":0,"height":0,"passthru":false,"label":"Reset scores","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"DELETE from RPS","x":650,"y":420,"wires":[["38a3011c.bb709e","88acffaa.adf7e","9b7d89f1.8f1d78","1033f408.b4e32c","5423d5bf.87b7fc"]]},{"id":"5c8edd05.098ab4","type":"ui_button","z":"47814212.13592c","name":"","group":"9b9ac84.f43ce38","order":6,"width":0,"height":0,"passthru":false,"label":"Rules","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hi! Are you ready to play Rock Paper Scissors? You could choose rock (a closed fist), paper (a flat hand) and scissors (a fist with the index and middle fingers extended, forming a v). The rules are simple: rock beats scissors, paper beats rock and scissors beat paper. So, let's start!","payloadType":"str","topic":"","x":630,"y":800,"wires":[["201685ea.355e0a"]]},{"id":"201685ea.355e0a","type":"ui_audio","z":"47814212.13592c","name":"","group":"9b9ac84.f43ce38","voice":"en-US","always":true,"x":900,"y":800,"wires":[]},{"id":"9b9ac84.f43ce38","type":"ui_group","z":"","name":"Last Play","tab":"36602cb7.066a24","order":2,"disp":true,"width":"7","collapse":false},{"id":"88e9ffd1.85592","type":"sqlitedb","z":"47814212.13592c","db":"/tmp/sqlite","mode":"RWC"},{"id":"e59780c9.a98ea","type":"ui_group","z":"","name":"History","tab":"36602cb7.066a24","order":1,"disp":true,"width":"8","collapse":false},{"id":"36602cb7.066a24","type":"ui_tab","z":"","name":"Rock-Paper-Scissors","icon":"fa-gamepad","order":2,"disabled":false,"hidden":false}]