Section 2/2.1/flows.json
[{"id":"72a7399f.61c7d8","type":"inject","z":"850f4d11.dad7b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":120,"wires":[["cce78034.80601"]]},{"id":"4298c494.81c42c","type":"debug","z":"850f4d11.dad7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1260,"y":60,"wires":[]},{"id":"cce78034.80601","type":"function","z":"850f4d11.dad7b","name":"word count","func":"msg.count = msg.payload.split(' ').length;\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":80,"wires":[["4298c494.81c42c"]]}]